Repository FreshRSS/FreshRSS, pull requests merged in 2018-10, with the labels that each got.

#2047 Fix MySQL create table feeds
  app/Controllers/userController.php
  app/Models/EntryDAO.php
  app/SQL/install.sql.mysql.php
Labels: Important :fire:

#2052 Option to force clear cache
  app/Controllers/subscriptionController.php
  app/Models/Feed.php
  app/i18n/cz/sub.php
  app/i18n/de/sub.php
  app/i18n/en/sub.php
  app/i18n/es/sub.php
  app/i18n/fr/sub.php
  app/i18n/he/sub.php
  app/i18n/it/sub.php
  app/i18n/kr/sub.php
  app/i18n/nl/sub.php
  app/i18n/pt-br/sub.php
  app/i18n/ru/sub.php
  app/i18n/tr/sub.php
  app/i18n/zh-cn/sub.php
  app/views/helpers/feed/update.phtml
Labels: Feed problem :newspaper_roll:

#2058 i18n de: Known
  app/i18n/de/gen.php
Labels: I18n :earth_africa:

#2059 Translation for "Known"
  app/i18n/de/gen.php
Labels: I18n :earth_africa:

#2057 Improved flow for password change
  app/Controllers/userController.php
Labels: Security :shield:

#2068 German translation according to #2052
  app/i18n/de/sub.php
Labels: I18n :earth_africa:

#2074 mbstring translation
  app/i18n/de/install.php
Labels: I18n :earth_africa:

#2073 Fixed the TODOs
  app/i18n/de/sub.php
Labels: I18n :earth_africa:

#2072 Fixed the TODOs
  app/i18n/de/feedback.php
Labels: I18n :earth_africa:

#2071 Fixed the TODOs
  app/i18n/de/admin.php
Labels: I18n :earth_africa:

#2070 mark_selection_unread
  app/i18n/de/index.php
Labels: I18n :earth_africa:

#2069 Add Swage Theme
  CREDITS.md
  p/themes/Swage/icons/add.svg
  p/themes/Swage/icons/all.svg
  p/themes/Swage/icons/bookmark-add.svg
  p/themes/Swage/icons/bookmark.svg
  p/themes/Swage/icons/category.svg
  p/themes/Swage/icons/configure.svg
  p/themes/Swage/icons/down.svg
  p/themes/Swage/icons/error.svg
  p/themes/Swage/icons/icon.svg
  p/themes/Swage/icons/import.svg
  p/themes/Swage/icons/next.svg
  p/themes/Swage/icons/non-starred.svg
  p/themes/Swage/icons/prev.svg
  p/themes/Swage/icons/read.svg
  p/themes/Swage/icons/refresh.svg
  p/themes/Swage/icons/rss.svg
  p/themes/Swage/icons/starred.svg
  p/themes/Swage/icons/unread.svg
  p/themes/Swage/icons/up.svg
  p/themes/Swage/icons/view-global.svg
  p/themes/Swage/icons/view-normal.svg
  p/themes/Swage/icons/view-reader.svg
  p/themes/Swage/loader.gif
  p/themes/Swage/metadata.json
  p/themes/Swage/swage.css
  p/themes/Swage/swage.scss
  p/themes/Swage/thumbs/original.png
Labels: UI :art:

#2062 Allow dot in username
  app/Controllers/userController.php
  app/Models/CategoryDAO.php
  app/SQL/install.sql.mysql.php
  app/SQL/install.sql.pgsql.php
  app/SQL/install.sql.sqlite.php
Labels: Security :shield:

#2063 Add Fever API debug
  p/api/fever.php
Labels: API :handshake:

#2076 doc: update nginx config to reflect debian php7.0 changes
  docs/en/admins/02_Installation.md
  docs/fr/users/01_Installation.md
Labels: Documentation :books:

#2078 MySQL GUID case sensitive
  app/Controllers/entryController.php
  app/Models/DatabaseDAO.php
  app/Models/TagDAO.php
  app/SQL/install.sql.mysql.php
Labels: Feed problem :newspaper_roll:, Important :fire:

#2082 Swage Theme Fixes
  p/themes/Swage/swage.css
  p/themes/Swage/swage.scss
  p/themes/base-theme/template.css
Labels: UI :art:

#2089 Fix Dropdown being obscured by other elements
  p/themes/base-theme/template.css
Labels: UI :art:

#2088 Fix Swage theme issues
  app/layout/aside_feed.phtml
  p/themes/Swage/swage.css
  p/themes/Swage/swage.scss
Labels: UI :art:

#2094 Changes in Swage theme for Mark As Read on Scroll
  p/themes/Swage/swage.css
  p/themes/Swage/swage.scss
Labels: UI :art:
