Repository FreshRSS/FreshRSS, pull requests merged in 2018-09, with the labels that each got.

#1997 Allow multiple authors
  app/Models/Feed.php
Labels: Feed problem :newspaper_roll:

#2000 [i18n] New Dutch strings
  app/i18n/nl/admin.php
  app/i18n/nl/feedback.php
  app/i18n/nl/index.php
  app/i18n/nl/install.php
Labels: I18n :earth_africa:

#2020 Fix Mark as read button spacing in Chrome
  CREDITS.md
  p/themes/Dark/dark.css
  p/themes/Flat/flat.css
  p/themes/Origine/origine.css
  p/themes/Pafat/pafat.css
Labels: UI :art:

#2022 bcrypt.js 2.4.4
  p/scripts/bcrypt.min.js
Labels: Security :shield:

#2025 Improve authors
  app/Models/Category.php
  app/Models/Entry.php
  app/Models/Feed.php
  app/Models/Search.php
  app/i18n/cz/gen.php
  app/i18n/de/gen.php
  app/i18n/en/gen.php
  app/i18n/es/gen.php
  app/i18n/fr/gen.php
  app/i18n/he/gen.php
  app/i18n/it/gen.php
  app/i18n/kr/gen.php
  app/i18n/nl/gen.php
  app/i18n/pt-br/gen.php
  app/i18n/ru/gen.php
  app/i18n/tr/gen.php
  app/i18n/zh-cn/gen.php
  app/views/configure/display.phtml
  app/views/helpers/export/articles.phtml
  app/views/helpers/extension/configure.phtml
  app/views/index/normal.phtml
  app/views/index/reader.phtml
  app/views/index/rss.phtml
  p/api/fever.php
  p/api/greader.php
  p/scripts/main.js
Labels: UI :art:

#2030 Restore old author() functions for extension compatibility
  app/Models/Entry.php
Labels: Extension :electric_plug:

#2026 Small docs update (see #1999) and i18n fix (see #1309)
  CREDITS.md
  README.fr.md
  README.md
  app/i18n/de/conf.php
  docs/en/users/06_Fever_API.md
  docs/fr/users/06_Fever_API.md
Labels: Documentation :books:, I18n :earth_africa:

#2036 git clean before git auto-update
  app/Controllers/updateController.php
  data/users/.gitignore
Labels: Update action :floppy_disk:
