Repository FreshRSS/FreshRSS, pull requests merged in 2018-05, with the labels that each got.

#1877 Use HTML autocomplete new-password
  app/install.php
  app/views/auth/formLogin.phtml
  app/views/auth/register.phtml
  app/views/feed/add.phtml
  app/views/helpers/feed/update.phtml
  app/views/subscription/index.phtml
  app/views/user/manage.phtml
  app/views/user/profile.phtml
Labels: Security :shield:

#1882 Add a docker compose example.
  Docker/README.md
  Docker/docker-compose.yml
Labels: Documentation :books:

#1887 Detection of non-unique GUIDs
  app/Models/Feed.php
Labels: Feed problem :newspaper_roll:

#1893 SimplePie fix for Atom feeds using namespace for type
  lib/SimplePie/SimplePie/Misc.php
Labels: Feed problem :newspaper_roll:, SimplePie :cake:

#1836 Add Fever API and user documentation
  README.fr.md
  README.md
  app/Controllers/userController.php
  app/Models/EntryDAO.php
  app/Models/FeedDAO.php
  cli/prepare.php
  config-user.default.php
  data/fever/.gitignore
  data/fever/index.html
  docs/en/users/06_Fever_API.md
  docs/fr/users/06_Fever_API.md
  p/api/fever.php
  p/api/greader.php
  p/api/index.php
Labels: API :handshake:, Security :shield:

#1896 Fix CLI for creating/deleting user with Fever API
  app/Controllers/userController.php
Labels: Important :fire:

#1901 Fix import: invalid variable scope
  CHANGELOG.md
  app/Controllers/importExportController.php
Labels: Important :fire:

#1903 [i18n] Finish Dutch translation
  app/i18n/nl/admin.php
  app/i18n/nl/conf.php
  app/i18n/nl/gen.php
  app/i18n/nl/sub.php
Labels: I18n :earth_africa:

#1908 Typo fressrss
  app/i18n/cz/feedback.php
  app/i18n/de/feedback.php
  app/i18n/en/feedback.php
  app/i18n/es/feedback.php
  app/i18n/he/feedback.php
  app/i18n/kr/feedback.php
  app/i18n/nl/feedback.php
  app/i18n/pt-br/feedback.php
  app/i18n/ru/feedback.php
  app/i18n/tr/feedback.php
  app/i18n/tr/install.php
  app/i18n/zh-cn/feedback.php
Labels: I18n :earth_africa:

#1909 Suppress XML error during conversion attempt
  lib/SimplePie/SimplePie/Parser.php
Labels: SimplePie :cake:
