Repository FreshRSS/FreshRSS, pull requests merged in 2018-07, with the labels that each got.

#1949 Avoid feed credentials in logs
  CHANGELOG.md
  app/Controllers/entryController.php
  app/Controllers/feedController.php
  app/Models/Feed.php
Labels: Security :shield:

#1950 before_yesterday
  app/i18n/de/gen.php
Labels: I18n :earth_africa:

#1964 FeverAPI 32-bit fixes
  p/api/fever.php
Labels: API :handshake:
