Repository FreshRSS/FreshRSS, pull requests merged in 2019-08, with the labels that each got.

#2494 Doc MariaDB
  CONTRIBUTING.md
  Docker/README.md
  README.fr.md
  README.md
  docs/en/contributing.md
  docs/fr/developers/02_Github.md
Labels: Documentation :books:

#2497 Slovak (slovenčina) - added new language
  app/i18n/sk/admin.php
  app/i18n/sk/conf.php
  app/i18n/sk/feedback.php
  app/i18n/sk/gen.php
  app/i18n/sk/index.php
  app/i18n/sk/install.php
  app/i18n/sk/sub.php
  cli/i18n/ignore/sk.php
Labels: I18n :earth_africa:

#2502 [i18n] Minor cleanup in Slovak
  app/i18n/en/gen.php
  app/i18n/sk/gen.php
Labels: I18n :earth_africa:

#2503 [i18n] Finish Dutch translation
  app/i18n/nl/feedback.php
  app/i18n/nl/gen.php
  app/i18n/nl/index.php
  app/i18n/nl/sub.php
  cli/i18n/ignore/nl.php
Labels: I18n :earth_africa:

#2506 Prevent window opener vulnerability with space shortcut
  p/scripts/main.js
Labels: Security :shield:

#2507 IE11 / Edge keyboard compatibility
  p/scripts/main.js
Labels: UI :art:
