Repository FreshRSS/FreshRSS, pull requests merged in 2019-02, with the labels that each got.

#2240 Fix EntryDAO tags warning for Fever API
  app/Models/EntryDAO.php
Labels: API :handshake:, Important :fire:

#2242 i18n Korean
  app/i18n/kr/admin.php
  app/i18n/kr/conf.php
  app/i18n/kr/feedback.php
  app/i18n/kr/gen.php
  app/i18n/kr/index.php
  app/i18n/kr/install.php
  app/i18n/kr/sub.php
  cli/i18n/ignore/kr.php
Labels: I18n :earth_africa:

#2243 Fever API encoding of special chars
  p/api/fever.php
Labels: API :handshake:

#2250 Remove deprecated CSP child-src
  app/FreshRSS.php
Labels: Security :shield:

#2253 [i18n] Update Occitan
  app/i18n/oc/admin.php
  app/i18n/oc/gen.php
Labels: I18n :earth_africa:

#2255 JavaScript fixes + new navigation loop behaviour
  app/views/user/manage.phtml
  p/scripts/extra.js
  p/scripts/main.js
Labels: UI :art:
