Repository FreshRSS/FreshRSS, pull requests merged in 2019-01, with the labels that each got.

#2202 Apache performance
  Docker/Dockerfile
  Docker/FreshRSS.Apache.conf
  Docker/entrypoint.sh
  data/.gitignore
  docs/en/users/06_Mobile_access.md
  docs/fr/users/06_Mobile_access.md
  p/api/.htaccess
  p/i/.gitignore
Labels: API :handshake:

#2204 HTTP authentication fixes
  Docker/README.md
  app/Controllers/authController.php
  app/Models/Auth.php
  app/Models/UserDAO.php
  lib/Minz/Configuration.php
  lib/lib_rss.php
Labels: Security :shield:

#2207 Automatic API test
  p/api/greader.php
  p/api/index.php
  p/scripts/api.js
Labels: API :handshake:

#2221 [i18n] Dutch translation for 1.13.1
  app/i18n/nl/admin.php
  app/i18n/nl/conf.php
  app/i18n/nl/index.php
  app/i18n/nl/sub.php
Labels: I18n :earth_africa:

#2223 [i18n]Update Occitan
  app/i18n/oc/sub.php
Labels: I18n :earth_africa:

#2230 [i18n]Time format update for Occitan
  app/i18n/oc/gen.php
Labels: I18n :earth_africa:

#2231 i18n: oc fixes
  app/i18n/oc/gen.php
  app/views/configure/display.phtml
Labels: I18n :earth_africa:

#2220 FreshRSS 1.13.1
  CHANGELOG.md
  Docker/Dockerfile
  Docker/FreshRSS.Apache.conf
  Docker/README.md
  Docker/entrypoint.sh
  app/Controllers/authController.php
  app/Controllers/importExportController.php
  app/Models/Auth.php
  app/Models/Entry.php
  app/Models/EntryDAO.php
  app/Models/FeedDAO.php
  app/Models/TagDAO.php
  app/Models/UserDAO.php
  app/actualize_script.php
  app/i18n/cz/sub.php
  app/i18n/de/sub.php
  app/i18n/en/sub.php
  app/i18n/es/sub.php
  app/i18n/fr/sub.php
  app/i18n/he/sub.php
  app/i18n/it/sub.php
  app/i18n/kr/sub.php
  app/i18n/nl/admin.php
  app/i18n/nl/conf.php
  app/i18n/nl/index.php
  app/i18n/nl/sub.php
  app/i18n/oc/conf.php
  app/i18n/oc/gen.php
  app/i18n/oc/sub.php
  app/i18n/pt-br/sub.php
  app/i18n/ru/sub.php
  app/i18n/tr/sub.php
  app/i18n/zh-cn/sub.php
  app/install.php
  app/layout/header.phtml
  app/views/configure/display.phtml
  app/views/helpers/export/articles.phtml
  app/views/importExport/index.phtml
  cli/_cli.php
  cli/export-opml-for-user.php
  cli/export-zip-for-user.php
  constants.php
  data/.gitignore
  docs/en/users/06_Mobile_access.md
  docs/fr/users/06_Mobile_access.md
  lib/Minz/Configuration.php
  lib/Minz/Session.php
  lib/favicons.php
  lib/lib_install.php
  lib/lib_rss.php
  p/api/.htaccess
  p/api/greader.php
  p/api/index.php
  p/i/.gitignore
  p/i/index.php
  p/scripts/api.js
  p/scripts/main.js
Labels: Important :fire:

#2235 Case insensitive Authorization
  p/api/.htaccess
Labels: API :handshake:
