Repository FreshRSS/FreshRSS, pull requests merged in 2020-02, with the labels that each got.

#2813 Fallback to GUID when entry title is empty
  app/Models/Entry.php
Labels: Feed problem :newspaper_roll:

#2815 [l18n] Add documentation for new hooks
  docs/en/developers/03_Backend/05_Extensions.md
  docs/fr/developers/03_Backend/05_Extensions.md
  docs/i18n/freshrss.fr.po
  docs/i18n/templates/freshrss.pot
  docs/po4a.conf
Labels: Documentation :books:, Extension :electric_plug:, I18n :earth_africa:

#2814 SimplePie 1.5.4
  lib/SimplePie/SimplePie.php
  lib/SimplePie/SimplePie/Author.php
  lib/SimplePie/SimplePie/Cache.php
  lib/SimplePie/SimplePie/Cache/Base.php
  lib/SimplePie/SimplePie/Cache/DB.php
  lib/SimplePie/SimplePie/Cache/File.php
  lib/SimplePie/SimplePie/Cache/Memcache.php
  lib/SimplePie/SimplePie/Cache/Memcached.php
  lib/SimplePie/SimplePie/Cache/MySQL.php
  lib/SimplePie/SimplePie/Caption.php
  lib/SimplePie/SimplePie/Category.php
  lib/SimplePie/SimplePie/Content/Type/Sniffer.php
  lib/SimplePie/SimplePie/Copyright.php
  lib/SimplePie/SimplePie/Core.php
  lib/SimplePie/SimplePie/Credit.php
  lib/SimplePie/SimplePie/Decode/HTML/Entities.php
  lib/SimplePie/SimplePie/Enclosure.php
  lib/SimplePie/SimplePie/Exception.php
  lib/SimplePie/SimplePie/File.php
  lib/SimplePie/SimplePie/HTTP/Parser.php
  lib/SimplePie/SimplePie/IRI.php
  lib/SimplePie/SimplePie/Item.php
  lib/SimplePie/SimplePie/Locator.php
  lib/SimplePie/SimplePie/Misc.php
  lib/SimplePie/SimplePie/Net/IPv6.php
  lib/SimplePie/SimplePie/Parse/Date.php
  lib/SimplePie/SimplePie/Parser.php
  lib/SimplePie/SimplePie/Rating.php
  lib/SimplePie/SimplePie/Registry.php
  lib/SimplePie/SimplePie/Restriction.php
  lib/SimplePie/SimplePie/Sanitize.php
  lib/SimplePie/SimplePie/Source.php
  lib/SimplePie/SimplePie/XML/Declaration/Parser.php
  lib/SimplePie/SimplePie/gzdecode.php
Labels: SimplePie :cake:

#2816 GReader remove unsused parameter
  p/api/greader.php
Labels: API :handshake:
