Repository FreshRSS/FreshRSS, pull requests merged in 2020-09, with the labels that each got.

#3171 When ssl_verify is false, decrease SSL security
  app/Models/Entry.php
  lib/lib_rss.php
Labels: Feed problem :newspaper_roll:, Security :shield:

#3179 Fix CLI api_password
  app/Controllers/apiController.php
  cli/_update-or-create-user.php
  cli/create-user.php
  cli/update-user.php
Labels: API :handshake:

#3180 SimplePie: Fix HTTP 301 permanent redirection
  lib/SimplePie/SimplePie/File.php
Labels: SimplePie :cake:

#3196 [fix] Add text color to base theme
  p/themes/base-theme/template.css
Labels: UI :art:

#3190 Add polish localization
  app/i18n/cz/gen.php
  app/i18n/de/gen.php
  app/i18n/en-us/gen.php
  app/i18n/en/gen.php
  app/i18n/es/gen.php
  app/i18n/fr/gen.php
  app/i18n/he/gen.php
  app/i18n/it/gen.php
  app/i18n/kr/gen.php
  app/i18n/nl/gen.php
  app/i18n/oc/gen.php
  app/i18n/pl/admin.php
  app/i18n/pl/conf.php
  app/i18n/pl/feedback.php
  app/i18n/pl/gen.php
  app/i18n/pl/index.php
  app/i18n/pl/install.php
  app/i18n/pl/sub.php
  app/i18n/pl/user.php
  app/i18n/pt-br/gen.php
  app/i18n/ru/gen.php
  app/i18n/sk/gen.php
  app/i18n/tr/gen.php
  app/i18n/zh-cn/gen.php
  cli/i18n/ignore/pl.php
Labels: I18n :earth_africa:
