Repository FreshRSS/FreshRSS, pull requests merged in 2020-11, with the labels that each got.

#3237 i18n update for German - added missing de translations
  app/i18n/de/conf.php
  app/i18n/de/feedback.php
  app/i18n/de/gen.php
  app/i18n/de/sub.php
  cli/i18n/ignore/de.php
Labels: I18n :earth_africa:

#3185 Remember open categories
  app/Models/ConfigurationSetter.php
  app/Models/Context.php
  app/i18n/cz/conf.php
  app/i18n/de/conf.php
  app/i18n/en-us/conf.php
  app/i18n/en/conf.php
  app/i18n/es/conf.php
  app/i18n/fr/conf.php
  app/i18n/he/conf.php
  app/i18n/it/conf.php
  app/i18n/kr/conf.php
  app/i18n/nl/conf.php
  app/i18n/oc/conf.php
  app/i18n/pl/conf.php
  app/i18n/pt-br/conf.php
  app/i18n/ru/conf.php
  app/i18n/sk/conf.php
  app/i18n/tr/conf.php
  app/i18n/zh-cn/conf.php
  app/layout/aside_feed.phtml
  app/views/configure/reading.phtml
  app/views/helpers/javascript_vars.phtml
  cli/i18n/ignore/en-us.php
  config-user.default.php
  p/scripts/extra.js
  p/scripts/main.js
Labels: UI :art:

#3241 db username regex relaxed to allow @
  app/install.php
Labels: Security :shield:

#3183 Add note about Reeder to README
  README.md
Labels: API :handshake:, Documentation :books:

#3240 i18n ignore name of languages
  app/i18n/cz/gen.php
  app/i18n/en-us/gen.php
  app/i18n/es/gen.php
  app/i18n/fr/gen.php
  app/i18n/he/gen.php
  app/i18n/it/gen.php
  app/i18n/kr/gen.php
  app/i18n/nl/gen.php
  app/i18n/oc/gen.php
  app/i18n/pt-br/gen.php
  app/i18n/ru/gen.php
  app/i18n/sk/gen.php
  app/i18n/tr/gen.php
  app/i18n/zh-cn/gen.php
  cli/i18n/ignore/cz.php
  cli/i18n/ignore/en-us.php
  cli/i18n/ignore/en.php
  cli/i18n/ignore/es.php
  cli/i18n/ignore/fr.php
  cli/i18n/ignore/he.php
  cli/i18n/ignore/it.php
  cli/i18n/ignore/kr.php
  cli/i18n/ignore/nl.php
  cli/i18n/ignore/oc.php
  cli/i18n/ignore/pt-br.php
  cli/i18n/ignore/ru.php
  cli/i18n/ignore/sk.php
  cli/i18n/ignore/tr.php
  cli/i18n/ignore/zh-cn.php
Labels: I18n :earth_africa:

#3245 i18n: Update Occitan locale
  app/i18n/oc/conf.php
Labels: I18n :earth_africa:

#3248 Chang wording "Actualize" to "Update"
  app/i18n/en-us/gen.php
  app/i18n/en/gen.php
  app/i18n/ru/gen.php
Labels: I18n :earth_africa:

#3250 API fix continuation type
  p/api/greader.php
Labels: API :handshake:

#3252 Update link to News+ Google Reader extension
  README.fr.md
  README.md
  docs/en/users/06_Mobile_access.md
  docs/fr/users/06_Mobile_access.md
Labels: API :handshake:, Documentation :books:

#3266 Fixes a minor jaggy motion of the sidebar.
  p/themes/base-theme/template.css
Labels: UI :art:
