Repository FreshRSS/FreshRSS, pull requests merged in 2021-07, with the labels that each got.

#3676 changed <h2> to <legend>
  app/views/configure/shortcut.phtml
  app/views/extension/index.phtml
  app/views/subscription/add.phtml
  app/views/subscription/bookmarklet.phtml
  app/views/tag/index.phtml
Labels: UI :art:

#3626 Add system configuration for extension
  docs/en/developers/03_Backend/05_Extensions.md
  lib/Minz/Extension.php
Labels: Extension :electric_plug:

#3702 Create SECURITY.md
  SECURITY.md
Labels: Security :shield:

#3703 i18n fr fix old-new tag label
  app/i18n/fr/sub.php
Labels: I18n :earth_africa:

#3651 Add HTML5 tags
  app/layout/aside_feed.phtml
  app/layout/header.phtml
  app/layout/nav_entries.phtml
  app/layout/nav_menu.phtml
  app/views/index/global.phtml
  app/views/index/normal.phtml
  app/views/index/reader.phtml
Labels: UI :art:

#3712 Fix link to developers docs in readme.md
  README.md
Labels: Documentation :books:

#3713 install routine: template to html5
  app/install.php
Labels: UI :art:

#3709 Search labels
  app/Models/EntryDAO.php
  app/Models/Search.php
  docs/en/users/03_Main_view.md
  docs/fr/users/03_Main_view.md
Labels: Search :mag:

#3715 Alpine 3.14
  Docker/Dockerfile-Alpine
Labels: Docker

#3718 [docs] fix the cron container terminates upon start
  Docker/README.md
Labels: Docker

#3720 fix i18n translation
  app/i18n/de/install.php
Labels: I18n :earth_africa:

#3725 Message boxes: Better contrast
  p/themes/Origine/origine.css
  p/themes/Origine/origine.rtl.css
Labels: Theme
