Repository FreshRSS/FreshRSS, pull requests merged in 2021-02, with the labels that each got.

#3397 Add comprehensive user configuration in extensions
  docs/en/developers/03_Backend/05_Extensions.md
  lib/Minz/Configuration.php
  lib/Minz/Extension.php
Labels: Extension :electric_plug:

#3412 Fix user configuration in extension
  lib/Minz/Extension.php
Labels: Critical :skull_and_crossbones:, Extension :electric_plug:

#3413 Fix extension file search
  p/ext.php
Labels: Extension :electric_plug:, Important :fire:

#3422 Add a method to retrieve a configuration value
  lib/Minz/Extension.php
Labels: Extension :electric_plug:

#3423 SimplePie: Minor fix return type for broken feeds
  lib/SimplePie/SimplePie.php
Labels: SimplePie :cake:

#3426 Fix heredoc syntax
  lib/lib_rss.php
Labels: Important :fire:

#3424 API implement OPML import/export
  app/Controllers/importExportController.php
  app/Services/ExportService.php
  app/Services/ImportService.php
  lib/lib_opml.php
  p/api/greader.php
Labels: API :handshake:

#3415 Theme Documentation
  docs/en/admins/01_Index.md
  docs/en/admins/11_Themes.md
  docs/en/developers/01_Index.md
  docs/en/developers/04_Frontend/02_Design.md
Labels: Documentation :books:, Theme

#3431 Fix configuration local cache
  lib/Minz/Extension.php
Labels: Extension :electric_plug:, Important :fire:

#3432 refactor: remove referer checks, as they are no longer needed (replaced by csrf token)
  app/FreshRSS.php
  app/i18n/cz/install.php
  app/i18n/de/install.php
  app/i18n/en-us/install.php
  app/i18n/en/install.php
  app/i18n/es/install.php
  app/i18n/fr/install.php
  app/i18n/he/install.php
  app/i18n/it/install.php
  app/i18n/kr/install.php
  app/i18n/nl/install.php
  app/i18n/oc/install.php
  app/i18n/pl/install.php
  app/i18n/pt-br/install.php
  app/i18n/ru/install.php
  app/i18n/sk/install.php
  app/i18n/tr/install.php
  app/i18n/zh-cn/install.php
  app/install.php
  cli/i18n/ignore/en-us.php
  lib/lib_install.php
  lib/lib_rss.php
Labels: Security :shield:

#3438 Fix nginx config
  Docker/README.md
Labels: Docker, Documentation :books:

#3446 Change confusing naming for label
  app/i18n/cz/sub.php
  app/i18n/de/index.php
  app/i18n/de/sub.php
  app/i18n/en-us/sub.php
  app/i18n/en/sub.php
  app/i18n/es/sub.php
  app/i18n/fr/sub.php
  app/i18n/he/sub.php
  app/i18n/it/sub.php
  app/i18n/kr/sub.php
  app/i18n/nl/sub.php
  app/i18n/oc/sub.php
  app/i18n/pl/sub.php
  app/i18n/pt-br/sub.php
  app/i18n/ru/sub.php
  app/i18n/sk/sub.php
  app/i18n/tr/sub.php
  app/i18n/zh-cn/sub.php
  app/layout/aside_subscription.phtml
  app/views/tag/index.phtml
  cli/i18n/ignore/en-us.php
Labels: UI :art:

#3455 Update DE Translation
  app/i18n/de/sub.php
Labels: I18n :earth_africa:

#3440 Add user maintenance hooks
  app/actualize_script.php
  docs/en/developers/03_Backend/05_Extensions.md
  lib/Minz/ExtensionManager.php
Labels: Extension :electric_plug:, System care

#3416 Fix: handle very big feed
  lib/SimplePie/SimplePie.php
  lib/SimplePie/SimplePie/Parser.php
Labels: SimplePie :cake:

#3468 Update Dutch translation for 1.18
  app/i18n/nl/conf.php
  app/i18n/nl/feedback.php
  app/i18n/nl/gen.php
  app/i18n/nl/index.php
  app/i18n/nl/install.php
  app/i18n/nl/sub.php
  cli/i18n/ignore/nl.php
Labels: I18n :earth_africa:

#3469 Manual update to SimplePie 1.5.6
  lib/SimplePie/SimplePie.php
  lib/SimplePie/SimplePie/Content/Type/Sniffer.php
  lib/SimplePie/SimplePie/Parser.php
Labels: SimplePie :cake:

#3473 Update zh-cn Translation
  CREDITS.md
  app/i18n/zh-cn/admin.php
  app/i18n/zh-cn/conf.php
  app/i18n/zh-cn/feedback.php
  app/i18n/zh-cn/gen.php
  app/i18n/zh-cn/index.php
  app/i18n/zh-cn/install.php
  app/i18n/zh-cn/sub.php
Labels: I18n :earth_africa:

#3433 Add support for extension user files
  lib/Minz/Extension.php
  p/ext.php
Labels: Extension :electric_plug:, Security :shield:

#3443 Extensions in CLI
  cli/_cli.php
Labels: Extension :electric_plug:

#3485 Display dropdown menu in BlueLagoon and Screwdriver themes
  p/themes/BlueLagoon/BlueLagoon.css
  p/themes/BlueLagoon/BlueLagoon.rtl.css
  p/themes/Screwdriver/screwdriver.css
  p/themes/Screwdriver/screwdriver.rtl.css
Labels: UI :art:

#3472 "Show all" option on labels
  app/Models/Context.php
  app/Models/TagDAO.php
  app/i18n/cz/conf.php
  app/i18n/de/conf.php
  app/i18n/en-us/conf.php
  app/i18n/en/conf.php
  app/i18n/es/conf.php
  app/i18n/fr/conf.php
  app/i18n/he/conf.php
  app/i18n/it/conf.php
  app/i18n/kr/conf.php
  app/i18n/nl/conf.php
  app/i18n/oc/conf.php
  app/i18n/pl/conf.php
  app/i18n/pt-br/conf.php
  app/i18n/ru/conf.php
  app/i18n/sk/conf.php
  app/i18n/tr/conf.php
  app/i18n/zh-cn/conf.php
  app/layout/aside_feed.phtml
  app/views/configure/reading.phtml
  cli/i18n/ignore/en-us.php
Labels: UI :art:

#3482 Alpine oldest: php5-openssl
  Docker/Dockerfile-Oldest
Labels: Docker

#3480 Optimize theme Pafat for the mobile view
  p/themes/Pafat/pafat.css
  p/themes/Pafat/pafat.rtl.css
Labels: Theme, UI :art:

#3489 Remove + conversion in search except for tags
  app/Models/Search.php
  app/views/index/normal.phtml
  tests/app/Models/SearchTest.php
Labels: Important :fire:, Search :mag:

#3491 Optimize some themes for mobile view
  p/themes/Alternative-Dark/adark.css
  p/themes/Alternative-Dark/adark.rtl.css
  p/themes/Flat/flat.css
  p/themes/Flat/flat.rtl.css
  p/themes/Origine-compact/origine-compact.css
  p/themes/Origine-compact/origine-compact.rtl.css
  p/themes/Origine/origine.css
  p/themes/Origine/origine.rtl.css
  p/themes/Screwdriver/screwdriver.css
  p/themes/Screwdriver/screwdriver.rtl.css
Labels: Theme
