Repository FreshRSS/FreshRSS, pull requests merged in 2021-04, with the labels that each got.

#3574 Newsboat support
  CHANGELOG.md
  README.fr.md
  README.md
  docs/en/users/06_Mobile_access.md
  docs/fr/users/06_Mobile_access.md
Labels: API :handshake:

#3578 Fix wrong SimplePie type hint
  lib/SimplePie/SimplePie.php
Labels: SimplePie :cake:

#3579 i18n Update for Russian language
  app/i18n/ru/admin.php
  app/i18n/ru/conf.php
  app/i18n/ru/feedback.php
  app/i18n/ru/gen.php
  app/i18n/ru/index.php
  app/i18n/ru/install.php
  app/i18n/ru/sub.php
  app/i18n/ru/user.php
Labels: I18n :earth_africa:

#3588 Merge SimplePie changes
  lib/SimplePie/SimplePie.php
  lib/SimplePie/SimplePie/Sanitize.php
Labels: SimplePie :cake:
