Repository FreshRSS/FreshRSS, pull requests merged in 2021-05, with the labels that each got.

#3601 Update README.md
  README.fr.md
  README.md
  docs/en/developers/06_Fever_API.md
  docs/fr/users/06_Fever_API.md
Labels: API :handshake:, Documentation :books:

#3604 Update Turkish lang
  app/i18n/tr/admin.php
  app/i18n/tr/conf.php
  app/i18n/tr/feedback.php
  app/i18n/tr/gen.php
  app/i18n/tr/index.php
  app/i18n/tr/install.php
  app/i18n/tr/sub.php
  app/i18n/tr/user.php
  cli/i18n/ignore/tr.php
Labels: I18n :earth_africa:

#3614 Merge upstream SimplePie PR details
  lib/SimplePie/SimplePie.php
  lib/SimplePie/SimplePie/Misc.php
Labels: SimplePie :cake:

#3589 git update auto change to edge branch
  app/Controllers/updateController.php
  lib/Minz/Migrator.php
  lib/lib_rss.php
  p/i/index.php
  tests/lib/Minz/MigratorTest.php
Labels: Update action :floppy_disk:

#3624 Minz provide action name in controller exception
  lib/Minz/ActionException.php
Labels: Security :shield:

#3631 Fix array_chunk key index bug
  app/Models/EntryDAO.php
  app/Models/TagDAO.php
Labels: API :handshake:, Important :fire:

#3632 Add rssguard to french readme too
  README.fr.md
Labels: Documentation :books:

#3650 Change links to add feeds
  app/views/index/normal.phtml
  app/views/index/reader.phtml
Labels: UI :art:
