Repository FreshRSS/FreshRSS, pull requests merged in 2022-11, with the labels that each got.

#4797 fix: Adark theme: line-height
  p/themes/Alternative-Dark/adark.css
  p/themes/Alternative-Dark/adark.rtl.css
Labels: Theme

#4806 fix: Theme "Dark": text of theme slider
  p/themes/Dark/dark.css
  p/themes/Dark/dark.rtl.css
Labels: Theme

#4796 fix: Pafat theme: line-height
  p/themes/Pafat/pafat.css
  p/themes/Pafat/pafat.rtl.css
Labels: Theme, System care

#4810 fix: dyn. OPML icon
  app/Models/Themes.php
  app/views/subscription/index.phtml
  p/themes/base-theme/frss.css
  p/themes/base-theme/frss.rtl.css
Labels: UI :art:

#4824 Exclude .git folder
  .eslintignore
  .jshintignore
  .markdownlintignore
  .stylelintignore
  .typos.toml
  phpcs.xml
  phpstan.neon
Labels: System care

#4828 Improved: Swage theme with css vars
  p/themes/Swage/swage.css
  p/themes/Swage/swage.rtl.css
  p/themes/Swage/swage.scss
Labels: Theme

#4829 Improved: Swage theme, line-height without unit
  p/themes/Swage/swage.css
  p/themes/Swage/swage.rtl.css
  p/themes/Swage/swage.scss
Labels: Theme

#4811 fix: Pafat theme: aside navigation bar: icons
  p/themes/Pafat/pafat.css
  p/themes/Pafat/pafat.rtl.css
Labels: Theme

#4710 Update README.md for ReadKit
  README.fr.md
  README.md
Labels: Documentation :books:, API :handshake:, Hacktoberfest, hacktoberfest-accepted

#4830 Fix: broken HTML
  app/views/helpers/feed/update.phtml
Labels: UI :art:

#4846 Fix broken doc fr links
  docs/fr/users/02_First_steps.md
Labels: Documentation :books:

#4680 fix: sharing service for mailto links for web mail services
  app/i18n/cz/gen.php
  app/i18n/de/gen.php
  app/i18n/en-us/gen.php
  app/i18n/en/gen.php
  app/i18n/es/gen.php
  app/i18n/fr/gen.php
  app/i18n/he/gen.php
  app/i18n/it/gen.php
  app/i18n/ja/gen.php
  app/i18n/ko/gen.php
  app/i18n/nl/gen.php
  app/i18n/oc/gen.php
  app/i18n/pl/gen.php
  app/i18n/pt-br/gen.php
  app/i18n/ru/gen.php
  app/i18n/sk/gen.php
  app/i18n/tr/gen.php
  app/i18n/zh-cn/gen.php
  app/i18n/zh-tw/gen.php
  app/shares.php
  p/scripts/main.js
Labels: Hacktoberfest, hacktoberfest-accepted, UX

#4794 Improved: implement CSS variable --frss-padding-top-bottom
  p/themes/Origine-compact/origine-compact.css
  p/themes/Origine-compact/origine-compact.rtl.css
  p/themes/Origine/origine.css
  p/themes/Origine/origine.rtl.css
  p/themes/base-theme/frss.css
  p/themes/base-theme/frss.rtl.css
Labels: UI :art:

#4848 Require PHP 7.2+
  Docker/Dockerfile-Oldest
  README.fr.md
  README.md
  composer.json
  composer.lock
  constants.php
  docs/en/admins/02_Prerequisites.md
  docs/fr/users/01_Installation.md
  lib/composer.json
Labels: System care

#4232 Add visibility
  app/Models/Days.php
Labels: System care

#4855 Fix type hints regressions
  app/Controllers/updateController.php
  app/Models/Context.php
  app/Models/SystemConfiguration.php
  app/Models/UserConfiguration.php
  app/install.php
  app/layout/aside_configure.phtml
  app/layout/header.phtml
  lib/Minz/Configuration.php
Labels: Important :fire:, System care, Bug (confirmed) 🪲

#4853 Add Chinese for custom date/time format
  app/i18n/zh-cn/sub.php
Labels: I18n :earth_africa:

#4850 Use the correct font file for Lato in bold
  p/themes/Mapco/_fonts.scss
  p/themes/Mapco/mapco.css
  p/themes/Mapco/mapco.rtl.css
Labels: Theme

#4863 Apache TraceEnable Off
  Docker/FreshRSS.Apache.conf
Labels: Security :shield:

#4874 fix: Article hover that changes the background
  p/themes/Alternative-Dark/adark.css
  p/themes/Alternative-Dark/adark.rtl.css
  p/themes/Ansum/_list-view.scss
  p/themes/Ansum/ansum.css
  p/themes/Ansum/ansum.rtl.css
  p/themes/BlueLagoon/BlueLagoon.css
  p/themes/BlueLagoon/BlueLagoon.rtl.css
  p/themes/Dark/dark.css
  p/themes/Dark/dark.rtl.css
  p/themes/Flat/flat.css
  p/themes/Flat/flat.rtl.css
  p/themes/Mapco/_list-view.scss
  p/themes/Mapco/mapco.css
  p/themes/Mapco/mapco.rtl.css
  p/themes/Origine/origine.css
  p/themes/Origine/origine.rtl.css
  p/themes/Pafat/pafat.css
  p/themes/Pafat/pafat.rtl.css
  p/themes/Screwdriver/screwdriver.css
  p/themes/Screwdriver/screwdriver.rtl.css
  p/themes/Swage/swage.css
  p/themes/Swage/swage.rtl.css
  p/themes/Swage/swage.scss
Labels: UI :art:

#4875 fix: Swage theme
  p/themes/Swage/swage.css
  p/themes/Swage/swage.rtl.css
  p/themes/Swage/swage.scss
Labels: Theme

#4873 Improved: Origine Compact theme
  p/themes/Origine-compact/origine-compact.css
  p/themes/Origine-compact/origine-compact.rtl.css
  p/themes/base-theme/frss.css
  p/themes/base-theme/frss.rtl.css
Labels: Theme

#4872 fix: over flowing table that destroy the layout
  p/themes/Alternative-Dark/adark.css
  p/themes/Alternative-Dark/adark.rtl.css
  p/themes/Ansum/_tables.scss
  p/themes/Ansum/ansum.css
  p/themes/Ansum/ansum.rtl.css
  p/themes/BlueLagoon/BlueLagoon.css
  p/themes/BlueLagoon/BlueLagoon.rtl.css
  p/themes/Dark/dark.css
  p/themes/Dark/dark.rtl.css
  p/themes/Flat/flat.css
  p/themes/Flat/flat.rtl.css
  p/themes/Mapco/_tables.scss
  p/themes/Mapco/mapco.css
  p/themes/Mapco/mapco.rtl.css
  p/themes/Nord/nord.css
  p/themes/Nord/nord.rtl.css
  p/themes/Origine/origine.css
  p/themes/Origine/origine.rtl.css
  p/themes/Pafat/pafat.css
  p/themes/Pafat/pafat.rtl.css
  p/themes/Screwdriver/screwdriver.css
  p/themes/Screwdriver/screwdriver.rtl.css
  p/themes/Swage/swage.css
  p/themes/Swage/swage.rtl.css
  p/themes/Swage/swage.scss
  p/themes/base-theme/base.css
  p/themes/base-theme/base.rtl.css
  p/themes/base-theme/frss.css
  p/themes/base-theme/frss.rtl.css
Labels: UI :art:

#4867 Add Codespaces badge
  README.fr.md
  README.md
Labels: Documentation :books:, System care

#4856 [i18n] Improve translation: zh-cn
  app/i18n/zh-cn/admin.php
  app/i18n/zh-cn/conf.php
  app/i18n/zh-cn/feedback.php
  app/i18n/zh-cn/gen.php
  app/i18n/zh-cn/index.php
  app/i18n/zh-cn/install.php
  app/i18n/zh-cn/sub.php
  app/i18n/zh-cn/user.php
Labels: I18n :earth_africa:

#4841 Fix feed ordering
  app/Models/Category.php
  tests/app/Models/CategoryTest.php
Labels: View, Bug (confirmed) 🪲

#4681 Improved: show bigmarkasread button only, when there are unread articles
  app/views/helpers/stream-footer.phtml
  p/scripts/main.js
Labels: Hacktoberfest, hacktoberfest-accepted, UX

#4881 Dark pink: Fixes for the theme
  p/themes/Dark-pink/pinkdark.css
  p/themes/Dark-pink/pinkdark.rtl.css
  p/themes/Dark-pink/thumbs/original.png
Labels: Theme

#4651 Improved: Minz Framework. Byebye Internet Explorer and its Conditional comments
  lib/Minz/View.php
Labels: System care

#4889 fixed: background hover color
  p/themes/Flat/flat.css
  p/themes/Flat/flat.rtl.css
  p/themes/Pafat/pafat.css
  p/themes/Pafat/pafat.rtl.css
  p/themes/base-theme/frss.css
  p/themes/base-theme/frss.rtl.css
Labels: Theme

#4890 fix: line-height of label list
  p/themes/Alternative-Dark/adark.css
  p/themes/Alternative-Dark/adark.rtl.css
  p/themes/BlueLagoon/BlueLagoon.css
  p/themes/BlueLagoon/BlueLagoon.rtl.css
  p/themes/Dark/dark.css
  p/themes/Dark/dark.rtl.css
  p/themes/Flat/flat.css
  p/themes/Flat/flat.rtl.css
  p/themes/Nord/nord.css
  p/themes/Nord/nord.rtl.css
  p/themes/Pafat/pafat.css
  p/themes/Pafat/pafat.rtl.css
  p/themes/Screwdriver/screwdriver.css
  p/themes/Screwdriver/screwdriver.rtl.css
  p/themes/Swage/swage.css
  p/themes/Swage/swage.rtl.css
  p/themes/Swage/swage.scss
  p/themes/base-theme/base.css
  p/themes/base-theme/base.rtl.css
Labels: Theme

#4892 Fix: nord theme mobile
  p/themes/Alternative-Dark/adark.css
  p/themes/Alternative-Dark/adark.rtl.css
  p/themes/Ansum/_forms.scss
  p/themes/Ansum/_mobile.scss
  p/themes/Ansum/ansum.css
  p/themes/Ansum/ansum.rtl.css
  p/themes/BlueLagoon/BlueLagoon.css
  p/themes/BlueLagoon/BlueLagoon.rtl.css
  p/themes/Dark/dark.css
  p/themes/Dark/dark.rtl.css
  p/themes/Flat/flat.css
  p/themes/Flat/flat.rtl.css
  p/themes/Mapco/_forms.scss
  p/themes/Mapco/_mobile.scss
  p/themes/Mapco/mapco.css
  p/themes/Mapco/mapco.rtl.css
  p/themes/Nord/nord.css
  p/themes/Nord/nord.rtl.css
  p/themes/Origine/origine.css
  p/themes/Origine/origine.rtl.css
  p/themes/Pafat/pafat.css
  p/themes/Pafat/pafat.rtl.css
  p/themes/Screwdriver/screwdriver.css
  p/themes/Screwdriver/screwdriver.rtl.css
  p/themes/Swage/swage.css
  p/themes/Swage/swage.rtl.css
  p/themes/base-theme/frss.css
  p/themes/base-theme/frss.rtl.css
Labels: Theme

#4891 Improved: config dropdown structure
  app/layout/header.phtml
  p/themes/Alternative-Dark/adark.css
  p/themes/Alternative-Dark/adark.rtl.css
  p/themes/Ansum/_components.scss
  p/themes/Ansum/ansum.css
  p/themes/Ansum/ansum.rtl.css
  p/themes/BlueLagoon/BlueLagoon.css
  p/themes/BlueLagoon/BlueLagoon.rtl.css
  p/themes/Dark/dark.css
  p/themes/Dark/dark.rtl.css
  p/themes/Flat/flat.css
  p/themes/Flat/flat.rtl.css
  p/themes/Mapco/_components.scss
  p/themes/Mapco/mapco.css
  p/themes/Mapco/mapco.rtl.css
  p/themes/Nord/nord.css
  p/themes/Nord/nord.rtl.css
  p/themes/Origine/origine.css
  p/themes/Origine/origine.rtl.css
  p/themes/Pafat/pafat.css
  p/themes/Pafat/pafat.rtl.css
  p/themes/Screwdriver/screwdriver.css
  p/themes/Screwdriver/screwdriver.rtl.css
  p/themes/Swage/swage.css
  p/themes/Swage/swage.rtl.css
  p/themes/Swage/swage.scss
  p/themes/base-theme/frss.css
  p/themes/base-theme/frss.rtl.css
Labels: UI :art:

#4886 Docker Alpine 3.17
  .devcontainer/Dockerfile
  Docker/Dockerfile-Alpine
Labels: Docker

#4882 Better restrict tag search
  app/Models/EntryDAO.php
  app/Models/EntryDAOSQLite.php
  tests/app/Models/SearchTest.php
Labels: Search :mag:

#4893 fix: Current Flux in Origine theme
  p/themes/Origine/origine.css
  p/themes/Origine/origine.rtl.css
Labels: Theme

#4896 fix: Broken link in CONTRIBUTING.md
  CONTRIBUTING.md
  CREDITS.md
Labels: Documentation :books:

#4897 Deleted: bookmark.svg
  app/Models/Themes.php
  app/layout/aside_feed.phtml
  app/views/configure/display.phtml
  p/themes/BlueLagoon/icons/bookmark.svg
  p/themes/Pafat/icons/all.svg
  p/themes/Pafat/icons/bookmark.svg
  p/themes/Pafat/pafat.css
  p/themes/Pafat/pafat.rtl.css
  p/themes/Screwdriver/icons/bookmark.svg
  p/themes/Swage/icons/bookmark.svg
  p/themes/icons/bookmark.svg
Labels: UI :art:, Theme

#4899 improved: delete .nav-list .empty/.error
  p/themes/Alternative-Dark/adark.css
  p/themes/Alternative-Dark/adark.rtl.css
  p/themes/Ansum/_sidebar.scss
  p/themes/Ansum/ansum.css
  p/themes/Ansum/ansum.rtl.css
  p/themes/BlueLagoon/BlueLagoon.css
  p/themes/BlueLagoon/BlueLagoon.rtl.css
  p/themes/Dark/dark.css
  p/themes/Dark/dark.rtl.css
  p/themes/Flat/flat.css
  p/themes/Flat/flat.rtl.css
  p/themes/Mapco/_sidebar.scss
  p/themes/Mapco/mapco.css
  p/themes/Mapco/mapco.rtl.css
  p/themes/Origine/origine.css
  p/themes/Origine/origine.rtl.css
  p/themes/Pafat/pafat.css
  p/themes/Pafat/pafat.rtl.css
  p/themes/Screwdriver/screwdriver.css
  p/themes/Screwdriver/screwdriver.rtl.css
  p/themes/Swage/swage.css
  p/themes/Swage/swage.rtl.css
  p/themes/Swage/swage.scss
  p/themes/base-theme/base.css
  p/themes/base-theme/base.rtl.css
Labels: System care

#4903 Docker Alpine time zone
  .devcontainer/Dockerfile
  Docker/Dockerfile-Alpine
Labels: Docker

#4906 User-defined time zone
  app/Controllers/configureController.php
  app/Controllers/userController.php
  app/FreshRSS.php
  app/Models/UserConfiguration.php
  app/i18n/cz/conf.php
  app/i18n/de/conf.php
  app/i18n/el/conf.php
  app/i18n/en-us/conf.php
  app/i18n/en/conf.php
  app/i18n/es/conf.php
  app/i18n/fr/conf.php
  app/i18n/he/conf.php
  app/i18n/id/conf.php
  app/i18n/it/conf.php
  app/i18n/ja/conf.php
  app/i18n/ko/conf.php
  app/i18n/nl/conf.php
  app/i18n/oc/conf.php
  app/i18n/pl/conf.php
  app/i18n/pt-br/conf.php
  app/i18n/ru/conf.php
  app/i18n/sk/conf.php
  app/i18n/tr/conf.php
  app/i18n/zh-cn/conf.php
  app/i18n/zh-tw/conf.php
  app/views/auth/register.phtml
  app/views/configure/display.phtml
  app/views/user/manage.phtml
  config-user.default.php
Labels: I18n :earth_africa:

#4909 Improved: Pafat theme with vars
  p/themes/Pafat/pafat.css
  p/themes/Pafat/pafat.rtl.css
Labels: Theme

#4910 fix: article header: alignment of favicon/tags
  p/themes/base-theme/frss.css
  p/themes/base-theme/frss.rtl.css
Labels: UI :art:

#4905 Docker uniform timezone behaviour
  .devcontainer/Dockerfile
  Docker/Dockerfile
  Docker/Dockerfile-Alpine
  Docker/Dockerfile-Oldest
  Docker/Dockerfile-QEMU-ARM
  Docker/README.md
  Docker/entrypoint.sh
Labels: Docker
