Repository FreshRSS/FreshRSS, pull requests merged in 2022-08, with the labels that each got.

#4479 Fix URLs in slider
  app/views/helpers/feed/update.phtml
Labels: UI :art:, Important :fire:

#4483 Add link to CHATONS list of FreshRSS instances
  docs/en/admins/14_CloudProviders.md
Labels: Documentation :books:, Framasoft :rabbit2:

#4492 fix: Pafat theme
  p/themes/Pafat/pafat.css
  p/themes/Pafat/pafat.rtl.css
Labels: Theme

#4491 Fix: Mapco theme cleaning
  p/themes/Mapco/_components.scss
  p/themes/Mapco/_configuration.scss
  p/themes/Mapco/_forms.scss
  p/themes/Mapco/_global-view.scss
  p/themes/Mapco/_layout.scss
  p/themes/Mapco/_list-view.scss
  p/themes/Mapco/_mobile.scss
  p/themes/Mapco/_sidebar.scss
  p/themes/Mapco/_variables.scss
  p/themes/Mapco/icons/cog-white.svg
  p/themes/Mapco/icons/cog.svg
  p/themes/Mapco/icons/configure.svg
  p/themes/Mapco/icons/down-white.svg
  p/themes/Mapco/icons/down.svg
  p/themes/Mapco/icons/icon.svg
  p/themes/Mapco/icons/link-white.svg
  p/themes/Mapco/icons/link.svg
  p/themes/Mapco/icons/magnifier.svg
  p/themes/Mapco/icons/more.svg
  p/themes/Mapco/icons/non-starred-white.svg
  p/themes/Mapco/icons/non-starred.svg
  p/themes/Mapco/icons/read-grey.svg
  p/themes/Mapco/icons/read-white.svg
  p/themes/Mapco/icons/read.svg
  p/themes/Mapco/icons/refresh.svg
  p/themes/Mapco/icons/rss-white.svg
  p/themes/Mapco/icons/rss.svg
  p/themes/Mapco/icons/search.svg
  p/themes/Mapco/icons/starred-white.svg
  p/themes/Mapco/icons/starred.svg
  p/themes/Mapco/icons/tick-color.svg
  p/themes/Mapco/icons/tick-white.svg
  p/themes/Mapco/icons/tick.svg
  p/themes/Mapco/icons/unread-grey.svg
  p/themes/Mapco/icons/unread-white.svg
  p/themes/Mapco/icons/unread.svg
  p/themes/Mapco/icons/up-white.svg
  p/themes/Mapco/icons/up.svg
  p/themes/Mapco/icons/view-global-white.svg
  p/themes/Mapco/icons/view-global.svg
  p/themes/Mapco/icons/view-list-white.svg
  p/themes/Mapco/icons/view-list.svg
  p/themes/Mapco/icons/view-normal.svg
  p/themes/Mapco/icons/view-reader-white.svg
  p/themes/Mapco/icons/view-reader.svg
  p/themes/Mapco/mapco.css
  p/themes/Mapco/mapco.rtl.css
  p/themes/Mapco/mapco.scss
  p/themes/base-theme/template.css
  p/themes/base-theme/template.rtl.css
Labels: Theme

#4495 CLI add missing extension hook freshrss_user_maintenance
  cli/actualize-user.php
Labels: Extension :electric_plug:, CLI

#4490 Refactor entry-to-GReader API format
  app/Controllers/feedController.php
  app/Controllers/importExportController.php
  app/Controllers/subscriptionController.php
  app/Models/Category.php
  app/Models/CategoryDAO.php
  app/Models/Context.php
  app/Models/Entry.php
  app/Models/EntryDAO.php
  app/Models/Feed.php
  app/Models/FeedDAO.php
  app/Models/TagDAO.php
  app/Models/View.php
  app/Services/ExportService.php
  app/Services/ImportService.php
  app/views/helpers/export/articles.phtml
  app/views/helpers/feed/update.phtml
  app/views/index/normal.phtml
  app/views/index/reader.phtml
  p/api/fever.php
  p/api/greader.php
Labels: API :handshake:

#4498 Add CSS class "about" to the about link
  app/layout/aside_feed.phtml
Labels: UI :art:, System care

#4500 Get content by parsing: fix base for protocol-relative URLs
  app/Models/Entry.php
Labels: Feed problem :newspaper_roll:

#4504 Set standard CSS for login register form
  p/themes/Alternative-Dark/adark.css
  p/themes/Alternative-Dark/adark.rtl.css
  p/themes/Ansum/_layout.scss
  p/themes/Ansum/ansum.css
  p/themes/Ansum/ansum.rtl.css
  p/themes/BlueLagoon/BlueLagoon.css
  p/themes/BlueLagoon/BlueLagoon.rtl.css
  p/themes/Dark/dark.css
  p/themes/Dark/dark.rtl.css
  p/themes/Flat/flat.css
  p/themes/Flat/flat.rtl.css
  p/themes/Mapco/_layout.scss
  p/themes/Mapco/mapco.css
  p/themes/Mapco/mapco.rtl.css
  p/themes/Nord/nord.css
  p/themes/Nord/nord.rtl.css
  p/themes/Origine-compact/origine-compact.css
  p/themes/Origine-compact/origine-compact.rtl.css
  p/themes/Origine/origine.css
  p/themes/Origine/origine.rtl.css
  p/themes/Pafat/pafat.css
  p/themes/Pafat/pafat.rtl.css
  p/themes/Screwdriver/screwdriver.css
  p/themes/Screwdriver/screwdriver.rtl.css
  p/themes/Swage/swage.css
  p/themes/Swage/swage.rtl.css
  p/themes/Swage/swage.scss
  p/themes/base-theme/template.css
  p/themes/base-theme/template.rtl.css
Labels: UI :art:, System care

#4502 Fix very long tree-folder-items
  p/themes/base-theme/template.css
  p/themes/base-theme/template.rtl.css
Labels: UI :art:, Theme

#4503 Basic support for negative searches with parentheses
  app/Models/BooleanSearch.php
  app/Models/Entry.php
  app/Models/EntryDAO.php
  docs/en/users/03_Main_view.md
  docs/fr/users/03_Main_view.md
  tests/app/Models/SearchTest.php
Labels: Search :mag:

#4493 Swage theme cleanup
  app/views/helpers/index/normal/entry_bottom.phtml
  p/scripts/main.js
  p/themes/Swage/icons/import.svg
  p/themes/Swage/swage.css
  p/themes/Swage/swage.rtl.css
  p/themes/Swage/swage.scss
  p/themes/base-theme/template.css
  p/themes/base-theme/template.rtl.css
Labels: Theme

#4505 Easier full-text search possibility
  app/Models/EntryDAO.php
  app/Models/EntryDAOSQLite.php
  docs/en/admins/01_Index.md
  docs/en/admins/DatabaseConfig.md
  docs/en/developers/03_Backend/01_Database_schema.md
  tests/app/Models/SearchTest.php
Labels: Search :mag:

#4509 Update i18n/zh-cn
  CREDITS.md
  app/i18n/zh-cn/conf.php
  app/i18n/zh-cn/gen.php
  app/i18n/zh-cn/index.php
  app/i18n/zh-cn/sub.php
Labels: I18n :earth_africa:

#4512 fixed: Swage theme - Config dropdown menu on small resulutions
  p/themes/Swage/swage.css
  p/themes/Swage/swage.rtl.css
  p/themes/Swage/swage.scss
Labels: Theme

#4465 Improved: error page
  app/Models/Context.php
  app/Models/LogDAO.php
  app/actualize_script.php
  constants.php
  docs/en/admins/01_Index.md
  docs/en/admins/logs_and_errors.md
  lib/Minz/FrontController.php
  lib/Minz/Log.php
  lib/lib_rss.php
  p/i/index.php
Labels: Security :shield:

#4457 Delayed changelog
  CHANGELOG.md
Labels: Documentation :books:

#4519 i18n en-US
  .gitignore
  app/i18n/en-us/conf.php
  app/i18n/en-us/gen.php
  app/i18n/en-us/sub.php
Labels: I18n :earth_africa:

#4520 Slovak translation
  app/i18n/sk/admin.php
  app/i18n/sk/conf.php
  app/i18n/sk/gen.php
Labels: I18n :earth_africa:

#4525 i18n German
  app/i18n/de/conf.php
  app/i18n/de/gen.php
  app/i18n/de/sub.php
Labels: I18n :earth_africa:

#4524 Slovak translation
  app/i18n/sk/conf.php
  app/i18n/sk/gen.php
  app/i18n/sk/sub.php
Labels: I18n :earth_africa:

#4523 lire app
  README.fr.md
  README.md
  docs/en/developers/06_GoogleReader_API.md
  docs/fr/users/06_Mobile_access.md
Labels: Documentation :books:, API :handshake:

#4529 Update Dutch translation for 1.20
  app/i18n/nl/admin.php
  app/i18n/nl/conf.php
  app/i18n/nl/gen.php
  app/i18n/nl/sub.php
Labels: I18n :earth_africa:

#4531 fix: Theme Swage - Text overflow in dropdown menu
  p/themes/Swage/swage.css
  p/themes/Swage/swage.rtl.css
  p/themes/Swage/swage.scss
Labels: Theme

#4533 fix: width of "no article" banner
  p/themes/base-theme/template.css
  p/themes/base-theme/template.rtl.css
Labels: UI :art:, Theme

#4536 Update PL translation.
  app/i18n/pl/admin.php
  app/i18n/pl/conf.php
  app/i18n/pl/gen.php
  app/i18n/pl/sub.php
Labels: I18n :earth_africa:

#4538 Fix: Ansum theme cleaning
  p/themes/Ansum/_components.scss
  p/themes/Ansum/_configuration.scss
  p/themes/Ansum/_forms.scss
  p/themes/Ansum/_global-view.scss
  p/themes/Ansum/_layout.scss
  p/themes/Ansum/_list-view.scss
  p/themes/Ansum/_mobile.scss
  p/themes/Ansum/_sidebar.scss
  p/themes/Ansum/_variables.scss
  p/themes/Ansum/ansum.css
  p/themes/Ansum/ansum.rtl.css
  p/themes/Ansum/ansum.scss
  p/themes/Ansum/icons/cog-white.svg
  p/themes/Ansum/icons/configure.svg
  p/themes/Ansum/icons/down-white.svg
  p/themes/Ansum/icons/link-white.svg
  p/themes/Ansum/icons/magnifier.svg
  p/themes/Ansum/icons/non-starred-white.svg
  p/themes/Ansum/icons/read-grey.svg
  p/themes/Ansum/icons/read-white.svg
  p/themes/Ansum/icons/rss-white.svg
  p/themes/Ansum/icons/starred-white.svg
  p/themes/Ansum/icons/tick-white.svg
  p/themes/Ansum/icons/unread-grey.svg
  p/themes/Ansum/icons/unread-white.svg
  p/themes/Ansum/icons/up-white.svg
  p/themes/Ansum/icons/view-global-white.svg
  p/themes/Ansum/icons/view-list-white.svg
  p/themes/Ansum/icons/view-reader-white.svg
Labels: Theme

#4541 Fix #4231
  p/scripts/main.js
Labels: UI :art:

#4551 Fix: swage extension config button
  app/views/helpers/extension/details.phtml
  p/themes/Swage/swage.css
  p/themes/Swage/swage.rtl.css
  p/themes/Swage/swage.scss
Labels: Theme

#4555 Improve documentation: example code to configure SMTP
  docs/en/admins/05_Configuring_email_validation.md
Labels: Documentation :books:

#4549 Improved: Mapco/Ansum headline sizes
  p/themes/Ansum/_configuration.scss
  p/themes/Ansum/ansum.css
  p/themes/Ansum/ansum.rtl.css
  p/themes/Mapco/_configuration.scss
  p/themes/Mapco/mapco.css
  p/themes/Mapco/mapco.rtl.css
Labels: UI :art:, Theme

#4548 lang: update Occitan
  app/i18n/oc/admin.php
  app/i18n/oc/conf.php
  app/i18n/oc/gen.php
  app/i18n/oc/sub.php
Labels: I18n :earth_africa:

#4546 Improve input disabled, select disabled
  p/themes/Alternative-Dark/adark.css
  p/themes/Alternative-Dark/adark.rtl.css
  p/themes/Ansum/_forms.scss
  p/themes/Ansum/ansum.css
  p/themes/Ansum/ansum.rtl.css
  p/themes/BlueLagoon/BlueLagoon.css
  p/themes/BlueLagoon/BlueLagoon.rtl.css
  p/themes/Dark/dark.css
  p/themes/Dark/dark.rtl.css
  p/themes/Nord/nord.css
  p/themes/Nord/nord.rtl.css
  p/themes/base-theme/template.css
  p/themes/base-theme/template.rtl.css
Labels: UI :art:, Theme

#4558 Fix: Login link - icon linked
  app/layout/header.phtml
Labels: UI :art:

#4559 Fix: global view unread article
  p/themes/Alternative-Dark/adark.css
  p/themes/Alternative-Dark/adark.rtl.css
  p/themes/Origine-compact/origine-compact.css
  p/themes/Origine-compact/origine-compact.rtl.css
  p/themes/Origine/origine.css
  p/themes/Origine/origine.rtl.css
  p/themes/Pafat/pafat.css
  p/themes/Pafat/pafat.rtl.css
  p/themes/base-theme/template.css
  p/themes/base-theme/template.rtl.css
Labels: UI :art:

#4563 Fix: Global view - No articles banner
  app/views/index/global.phtml
Labels: UI :art:

#4568 Compat Readrops
  app/Models/Entry.php
Labels: API :handshake:

#4571 Fix: extension list error when offline
  app/Controllers/extensionController.php
Labels: System care

#4572 i18n: Update Korean language
  app/i18n/ko/admin.php
  app/i18n/ko/conf.php
  app/i18n/ko/gen.php
  app/i18n/ko/sub.php
Labels: I18n :earth_africa:
