Repository FreshRSS/FreshRSS, pull requests merged in 2022-10, with the labels that each got.

#4668 Update Japanese translation
  app/i18n/ja/admin.php
  app/i18n/ja/conf.php
  app/i18n/ja/gen.php
  app/i18n/ja/index.php
  app/i18n/ja/sub.php
  app/i18n/ja/user.php
Labels: I18n :earth_africa:

#4664 Improved: CSS .toggle_aside
  p/themes/Ansum/_mobile.scss
  p/themes/Ansum/ansum.css
  p/themes/Ansum/ansum.rtl.css
  p/themes/BlueLagoon/BlueLagoon.css
  p/themes/BlueLagoon/BlueLagoon.rtl.css
  p/themes/Dark/dark.css
  p/themes/Dark/dark.rtl.css
  p/themes/Flat/flat.css
  p/themes/Flat/flat.rtl.css
  p/themes/Mapco/_mobile.scss
  p/themes/Mapco/mapco.css
  p/themes/Mapco/mapco.rtl.css
  p/themes/Nord/nord.css
  p/themes/Nord/nord.rtl.css
  p/themes/Origine/origine.css
  p/themes/Origine/origine.rtl.css
  p/themes/Pafat/pafat.css
  p/themes/Pafat/pafat.rtl.css
  p/themes/Screwdriver/screwdriver.css
  p/themes/Screwdriver/screwdriver.rtl.css
  p/themes/Swage/swage.css
  p/themes/Swage/swage.rtl.css
  p/themes/Swage/swage.scss
  p/themes/base-theme/base.css
  p/themes/base-theme/base.rtl.css
  p/themes/base-theme/frss.css
  p/themes/base-theme/frss.rtl.css
Labels: UI :art:, System care

#4676 UPDATE: Spanish translations 🇪🇸🇲🇽 [i18n] #4656
  app/i18n/es/admin.php
Labels: I18n :earth_africa:, Hacktoberfest, hacktoberfest-accepted

#4669 [Feature - Hacktoberfest] - Add Admin transalation pt br
  app/i18n/pt-br/admin.php
  app/i18n/pt-br/conf.php
  app/i18n/pt-br/gen.php
  app/i18n/pt-br/sub.php
Labels: I18n :earth_africa:, Hacktoberfest, hacktoberfest-accepted

#4679 Improved: Subscription Management: Show the position number
  app/Controllers/subscriptionController.php
  app/views/subscription/index.phtml
  p/themes/base-theme/frss.css
  p/themes/base-theme/frss.rtl.css
Labels: UI :art:

#4598 Add documentation to work with feed snapshots
  docs/en/developers/03_Running_tests.md
  docs/en/developers/06_Reporting_Bugs.md
Labels: Documentation :books:, Feed problem :newspaper_roll:

#4666 Improved: Article summary. Cut the text with better CSS
  app/views/helpers/index/normal/entry_header.phtml
  p/themes/base-theme/frss.css
  p/themes/base-theme/frss.rtl.css
Labels: UI :art:

#4665 Improved: better semantic HTML for boxes
  app/views/configure/queries.phtml
  app/views/index/global.phtml
  app/views/index/normal.phtml
  app/views/index/reader.phtml
  app/views/stats/idle.phtml
  app/views/subscription/index.phtml
  p/themes/base-theme/frss.css
  p/themes/base-theme/frss.rtl.css
Labels: UI :art:

#4597 Improved: Remove <li> as separator
  app/layout/aside_feed.phtml
  app/layout/header.phtml
  app/layout/nav_menu.phtml
  p/themes/Alternative-Dark/adark.css
  p/themes/Alternative-Dark/adark.rtl.css
  p/themes/Ansum/_components.scss
  p/themes/Ansum/ansum.css
  p/themes/Ansum/ansum.rtl.css
  p/themes/BlueLagoon/BlueLagoon.css
  p/themes/BlueLagoon/BlueLagoon.rtl.css
  p/themes/Dark/dark.css
  p/themes/Dark/dark.rtl.css
  p/themes/Flat/flat.css
  p/themes/Flat/flat.rtl.css
  p/themes/Mapco/_components.scss
  p/themes/Mapco/mapco.css
  p/themes/Mapco/mapco.rtl.css
  p/themes/Nord/nord.css
  p/themes/Nord/nord.rtl.css
  p/themes/Origine-compact/origine-compact.css
  p/themes/Origine-compact/origine-compact.rtl.css
  p/themes/Origine/origine.css
  p/themes/Origine/origine.rtl.css
  p/themes/Pafat/pafat.css
  p/themes/Pafat/pafat.rtl.css
  p/themes/Screwdriver/screwdriver.css
  p/themes/Screwdriver/screwdriver.rtl.css
  p/themes/Swage/swage.css
  p/themes/Swage/swage.rtl.css
  p/themes/Swage/swage.scss
  p/themes/base-theme/base.css
  p/themes/base-theme/base.rtl.css
  p/themes/base-theme/frss.css
  p/themes/base-theme/frss.rtl.css
Labels: UI :art:

#4673 [Fix] - OPML blizzard icon: not shown
  app/Models/Themes.php
Labels: UI :art:, Hacktoberfest, hacktoberfest-accepted

#4685 fixed: Origine compact
  p/themes/Origine-compact/origine-compact.css
  p/themes/Origine-compact/origine-compact.rtl.css
Labels: Theme

#4690 Clean-up: ".nav-head" deleted from (S)CSS
  p/themes/Alternative-Dark/adark.css
  p/themes/Alternative-Dark/adark.rtl.css
  p/themes/Ansum/_sidebar.scss
  p/themes/Ansum/ansum.css
  p/themes/Ansum/ansum.rtl.css
  p/themes/BlueLagoon/BlueLagoon.css
  p/themes/BlueLagoon/BlueLagoon.rtl.css
  p/themes/Dark/dark.css
  p/themes/Dark/dark.rtl.css
  p/themes/Flat/flat.css
  p/themes/Flat/flat.rtl.css
  p/themes/Mapco/_sidebar.scss
  p/themes/Mapco/mapco.css
  p/themes/Mapco/mapco.rtl.css
  p/themes/Nord/nord.css
  p/themes/Nord/nord.rtl.css
  p/themes/Origine/origine.css
  p/themes/Origine/origine.rtl.css
  p/themes/Pafat/pafat.css
  p/themes/Pafat/pafat.rtl.css
  p/themes/Screwdriver/screwdriver.css
  p/themes/Screwdriver/screwdriver.rtl.css
  p/themes/Swage/swage.css
  p/themes/Swage/swage.rtl.css
  p/themes/Swage/swage.scss
  p/themes/base-theme/base.css
  p/themes/base-theme/base.rtl.css
  p/themes/base-theme/frss.css
  p/themes/base-theme/frss.rtl.css
Labels: Theme, System care, Hacktoberfest, hacktoberfest-accepted

#4688 Compat PHP 8.1 strip_tags
  app/Models/Feed.php
Labels: System care, Hacktoberfest, hacktoberfest-accepted

#4692 Slider: Block Page for one scrollbar; Scrollbar width normal
  CREDITS.md
  app/views/configure/queries.phtml
  app/views/extension/index.phtml
  app/views/index/normal.phtml
  app/views/stats/idle.phtml
  app/views/subscription/index.phtml
  p/scripts/extra.js
  p/themes/base-theme/frss.css
  p/themes/base-theme/frss.rtl.css
Labels: UI :art:, Hacktoberfest, hacktoberfest-accepted

#4697 fix 4682
  p/themes/base-theme/frss.css
  p/themes/base-theme/frss.rtl.css
Labels: UI :art:

#4670 Updated Czech (CZ) 🇨🇿 [i18n] Translation
  CREDITS.md
  app/i18n/cz/admin.php
  app/i18n/cz/conf.php
  app/i18n/cz/gen.php
  app/i18n/cz/sub.php
Labels: I18n :earth_africa:, Hacktoberfest, hacktoberfest-accepted

#4694 Implemented italian translation
  app/i18n/it/admin.php
  app/i18n/it/conf.php
  app/i18n/it/feedback.php
  app/i18n/it/gen.php
  app/i18n/it/index.php
  app/i18n/it/install.php
  app/i18n/it/sub.php
  app/i18n/it/user.php
Labels: I18n :earth_africa:, Hacktoberfest, hacktoberfest-accepted

#4708 Fix OPML import special
  app/Models/FeedDAO.php
Labels: Important :fire:, Bug (confirmed) 🪲

#4703 Add support for custom XPath date/time format
  app/Controllers/feedController.php
  app/Controllers/subscriptionController.php
  app/Models/Feed.php
  app/Services/ImportService.php
  app/i18n/cz/sub.php
  app/i18n/de/sub.php
  app/i18n/en-us/sub.php
  app/i18n/en/conf.php
  app/i18n/en/gen.php
  app/i18n/en/sub.php
  app/i18n/es/sub.php
  app/i18n/fr/sub.php
  app/i18n/he/sub.php
  app/i18n/it/sub.php
  app/i18n/ja/sub.php
  app/i18n/ko/sub.php
  app/i18n/nl/sub.php
  app/i18n/oc/sub.php
  app/i18n/pl/sub.php
  app/i18n/pt-br/sub.php
  app/i18n/ru/sub.php
  app/i18n/sk/sub.php
  app/i18n/tr/sub.php
  app/i18n/zh-cn/sub.php
  app/i18n/zh-tw/sub.php
  app/views/helpers/export/opml.phtml
  app/views/helpers/feed/update.phtml
  app/views/subscription/add.phtml
  docs/en/developers/OPML.md
Labels: Hacktoberfest, hacktoberfest-accepted

#4709 Main font color from blue to regular dark
  p/themes/Mapco/mapco.css
  p/themes/Mapco/mapco.rtl.css
  p/themes/Mapco/mapco.scss
Labels: Theme

#4707 Fix encoding CSS filter
  app/Controllers/subscriptionController.php
Labels: Hacktoberfest, hacktoberfest-accepted, Bug (confirmed) 🪲

#4715 Complete Turkish translation
  app/i18n/tr/admin.php
  app/i18n/tr/conf.php
  app/i18n/tr/gen.php
  app/i18n/tr/index.php
  app/i18n/tr/install.php
  app/i18n/tr/sub.php
Labels: I18n :earth_africa:

#4717 Update GitHub Actions version
  .github/workflows/tests.yml
Labels: System care

#4714 i18n typographic quotes
  app/i18n/cz/sub.php
  app/i18n/de/conf.php
  app/i18n/de/feedback.php
  app/i18n/de/sub.php
  app/i18n/en-us/conf.php
  app/i18n/en-us/feedback.php
  app/i18n/en-us/sub.php
  app/i18n/en/conf.php
  app/i18n/en/feedback.php
  app/i18n/en/sub.php
  app/i18n/es/conf.php
  app/i18n/es/feedback.php
  app/i18n/es/sub.php
  app/i18n/fr/conf.php
  app/i18n/fr/feedback.php
  app/i18n/fr/sub.php
  app/i18n/he/conf.php
  app/i18n/he/feedback.php
  app/i18n/he/sub.php
  app/i18n/it/conf.php
  app/i18n/it/feedback.php
  app/i18n/it/sub.php
  app/i18n/ja/conf.php
  app/i18n/ja/feedback.php
  app/i18n/ja/sub.php
  app/i18n/ko/conf.php
  app/i18n/ko/feedback.php
  app/i18n/ko/sub.php
  app/i18n/nl/conf.php
  app/i18n/nl/feedback.php
  app/i18n/nl/sub.php
  app/i18n/oc/sub.php
  app/i18n/pl/conf.php
  app/i18n/pl/feedback.php
  app/i18n/pl/sub.php
  app/i18n/pt-br/conf.php
  app/i18n/pt-br/feedback.php
  app/i18n/pt-br/sub.php
  app/i18n/ru/conf.php
  app/i18n/ru/feedback.php
  app/i18n/ru/sub.php
  app/i18n/sk/conf.php
  app/i18n/sk/feedback.php
  app/i18n/sk/sub.php
  app/i18n/tr/conf.php
  app/i18n/tr/feedback.php
  app/i18n/tr/sub.php
  app/i18n/zh-cn/conf.php
  app/i18n/zh-cn/feedback.php
  app/i18n/zh-cn/sub.php
  app/i18n/zh-tw/conf.php
  app/i18n/zh-tw/feedback.php
  app/i18n/zh-tw/sub.php
  docs/en/users/05_Configuration.md
Labels: I18n :earth_africa:

#4719 Translate to Russian completed
  app/i18n/ru/conf.php
  app/i18n/ru/gen.php
  app/i18n/ru/sub.php
Labels: I18n :earth_africa:, Hacktoberfest, hacktoberfest-accepted

#4721 Added Linkding as a sharing method #4720
  app/i18n/cz/gen.php
  app/i18n/de/gen.php
  app/i18n/en-us/gen.php
  app/i18n/en/gen.php
  app/i18n/es/gen.php
  app/i18n/fr/gen.php
  app/i18n/he/gen.php
  app/i18n/it/gen.php
  app/i18n/ja/gen.php
  app/i18n/ko/gen.php
  app/i18n/nl/gen.php
  app/i18n/oc/gen.php
  app/i18n/pl/gen.php
  app/i18n/pt-br/gen.php
  app/i18n/ru/gen.php
  app/i18n/sk/gen.php
  app/i18n/tr/gen.php
  app/i18n/zh-cn/gen.php
  app/i18n/zh-tw/gen.php
  app/shares.php
  docs/en/users/08_sharing_services.md
Labels: Hacktoberfest, hacktoberfest-accepted

#4725 UPDATE: Spanish translations 🇪🇸🇲🇽 [i18n]
  app/i18n/es/conf.php
  app/i18n/es/gen.php
  app/i18n/es/sub.php
Labels: I18n :earth_africa:, Hacktoberfest

#4735 Change new article banner size
  p/themes/Origine-compact/origine-compact.css
  p/themes/Origine-compact/origine-compact.rtl.css
Labels: Theme

#4736 Change default values to have predictable default state
  config-user.default.php
Labels: UI :art:

#4699 fix: jumping lines
  p/themes/Ansum/_list-view.scss
  p/themes/Ansum/ansum.css
  p/themes/Ansum/ansum.rtl.css
  p/themes/Mapco/_list-view.scss
  p/themes/Mapco/mapco.css
  p/themes/Mapco/mapco.rtl.css
  p/themes/Origine-compact/origine-compact.css
  p/themes/Origine-compact/origine-compact.rtl.css
  p/themes/base-theme/frss.css
  p/themes/base-theme/frss.rtl.css
Labels: UI :art:, Hacktoberfest, hacktoberfest-accepted

#4650 Update NewsFlash app entry
  README.fr.md
  README.md
  docs/en/developers/06_Fever_API.md
  docs/en/developers/06_GoogleReader_API.md
Labels: Documentation :books:, API :handshake:

#4742 Fix i18n tool when adding parent translation
  cli/i18n/I18nData.php
  tests/cli/i18n/I18nDataTest.php
Labels: I18n :earth_africa:

#4693 Improved: Origine theme (colors in vars)
  p/themes/Origine/origine.css
  p/themes/Origine/origine.rtl.css
  p/themes/base-theme/frss.css
  p/themes/base-theme/frss.rtl.css
Labels: Theme, Hacktoberfest, hacktoberfest-accepted

#4754 Fix i18n el: Ελληνικά
  app/i18n/cz/gen.php
  app/i18n/de/gen.php
  app/i18n/el/gen.php
  app/i18n/en-us/gen.php
  app/i18n/en/gen.php
  app/i18n/es/gen.php
  app/i18n/fr/gen.php
  app/i18n/he/gen.php
  app/i18n/id/gen.php
  app/i18n/it/gen.php
  app/i18n/ja/gen.php
  app/i18n/ko/gen.php
  app/i18n/nl/gen.php
  app/i18n/oc/gen.php
  app/i18n/pl/gen.php
  app/i18n/pt-br/gen.php
  app/i18n/ru/gen.php
  app/i18n/sk/gen.php
  app/i18n/tr/gen.php
  app/i18n/zh-cn/gen.php
  app/i18n/zh-tw/gen.php
Labels: I18n :earth_africa:

#4753 Fix broken link to the updating instructions
  cli/README.md
Labels: Documentation :books:

#4756 Add tests on i18n classes
  cli/i18n/I18nCompletionValidator.php
  cli/i18n/I18nFile.php
  cli/i18n/I18nUsageValidator.php
  cli/manipulate.translation.php
  constants.php
  tests/cli/i18n/I18nCompletionValidatorTest.php
  tests/cli/i18n/I18nFileTest.php
  tests/cli/i18n/I18nUsageValidatorTest.php
  tests/cli/i18n/I18nValueTest.php
Labels: I18n :earth_africa:

#4759 Fix curlopt options for HTML+XPath
  app/Models/Feed.php
Labels: Bug (confirmed) 🪲

#4763 GReader API doc and improvements
  docs/en/developers/06_GoogleReader_API.md
  p/api/greader.php
Labels: Documentation :books:, API :handshake:

#4750 Fix 4712
  app/views/helpers/index/normal/entry_header.phtml
  p/themes/Nord/nord.css
  p/themes/Nord/nord.rtl.css
  p/themes/Pafat/pafat.css
  p/themes/Pafat/pafat.rtl.css
  p/themes/base-theme/frss.css
  p/themes/base-theme/frss.rtl.css
Labels: UI :art:, Theme

#4751 fix 4744
  p/themes/Origine-compact/origine-compact.css
  p/themes/Origine-compact/origine-compact.rtl.css
Labels: Theme

#4768 Correct manage link on stats page
  app/views/stats/repartition.phtml
Labels: UI :art:

#4741 Added bottom nav padding for iOS #4740
  app/layout/layout.phtml
  p/themes/base-theme/frss.css
  p/themes/base-theme/frss.rtl.css
Labels: UI :art:

#4770 Fixed: "tag" -> "label"
  app/i18n/de/conf.php
  app/i18n/de/feedback.php
  app/i18n/el/conf.php
  app/i18n/el/feedback.php
  app/i18n/en-us/conf.php
  app/i18n/en-us/feedback.php
  app/i18n/en/conf.php
  app/i18n/en/feedback.php
  app/i18n/he/conf.php
  app/i18n/he/feedback.php
  app/i18n/id/conf.php
  app/i18n/id/feedback.php
  app/i18n/it/conf.php
  app/i18n/it/feedback.php
  app/i18n/nl/conf.php
  app/i18n/nl/feedback.php
  app/i18n/pt-br/conf.php
  app/i18n/pt-br/feedback.php
Labels: I18n :earth_africa:

#4775 fix #4772
  app/views/helpers/index/normal/entry_bottom.phtml
Labels: UI :art:

#4774 Fix integration page
  app/views/configure/integration.phtml
  p/scripts/integration.js
Labels: UI :art:

#4778 Add default redirect when authenticating
  app/Controllers/authController.php
Labels: Important :fire:, Security :shield:

#4783 Fix: swage menu
  p/themes/Swage/swage.css
  p/themes/Swage/swage.rtl.css
  p/themes/Swage/swage.scss
Labels: UI :art:

#4711 Mapco text display improvements
  p/themes/Mapco/_fonts.scss
  p/themes/Mapco/_layout.scss
  p/themes/Mapco/_variables.scss
  p/themes/Mapco/mapco.css
  p/themes/Mapco/mapco.css.map
  p/themes/Mapco/mapco.rtl.css
  p/themes/Mapco/mapco.scss
  p/themes/base-theme/frss.css
  p/themes/base-theme/frss.rtl.css
Labels: Theme, Hacktoberfest, hacktoberfest-accepted

#4786 Fixed: Blue Lagoon icons
  p/themes/BlueLagoon/icons/bookmark.svg
  p/themes/BlueLagoon/icons/favicon.svg
  p/themes/BlueLagoon/icons/icon.svg
  p/themes/BlueLagoon/icons/non-starred.svg
  p/themes/BlueLagoon/icons/read.svg
  p/themes/BlueLagoon/icons/starred.svg
  p/themes/BlueLagoon/icons/unread.svg
Labels: Theme

#4782 fixes jumping lines
  app/views/helpers/index/normal/entry_header.phtml
  p/themes/Alternative-Dark/adark.css
  p/themes/Alternative-Dark/adark.rtl.css
  p/themes/Ansum/_list-view.scss
  p/themes/Ansum/ansum.css
  p/themes/Ansum/ansum.rtl.css
  p/themes/BlueLagoon/BlueLagoon.css
  p/themes/BlueLagoon/BlueLagoon.rtl.css
  p/themes/Dark/dark.css
  p/themes/Dark/dark.rtl.css
  p/themes/Flat/flat.css
  p/themes/Flat/flat.rtl.css
  p/themes/Mapco/_list-view.scss
  p/themes/Mapco/mapco.css
  p/themes/Mapco/mapco.rtl.css
  p/themes/Nord/nord.css
  p/themes/Nord/nord.rtl.css
  p/themes/Origine-compact/origine-compact.css
  p/themes/Origine-compact/origine-compact.rtl.css
  p/themes/Origine/origine.css
  p/themes/Origine/origine.rtl.css
  p/themes/Pafat/pafat.css
  p/themes/Pafat/pafat.rtl.css
  p/themes/Screwdriver/screwdriver.css
  p/themes/Screwdriver/screwdriver.rtl.css
  p/themes/Swage/swage.css
  p/themes/Swage/swage.rtl.css
  p/themes/Swage/swage.scss
  p/themes/base-theme/frss.css
  p/themes/base-theme/frss.rtl.css
Labels: UI :art:

#4787 Fix: origine compact theme: line height
  p/themes/Origine-compact/origine-compact.css
  p/themes/Origine-compact/origine-compact.rtl.css
  p/themes/Origine/origine.css
  p/themes/Origine/origine.rtl.css
Labels: Theme, System care

#4788 fix: unread counter
  p/themes/Ansum/_sidebar.scss
  p/themes/Ansum/ansum.css
  p/themes/Ansum/ansum.rtl.css
  p/themes/Ansum/icons/down.svg
  p/themes/Mapco/_sidebar.scss
  p/themes/Mapco/icons/down.svg
  p/themes/Mapco/mapco.css
  p/themes/Mapco/mapco.rtl.css
  p/themes/Nord/nord.css
  p/themes/Nord/nord.rtl.css
  p/themes/Origine-compact/origine-compact.css
  p/themes/Origine-compact/origine-compact.rtl.css
  p/themes/Pafat/pafat.css
  p/themes/Pafat/pafat.rtl.css
  p/themes/Swage/swage.css
  p/themes/Swage/swage.rtl.css
  p/themes/Swage/swage.scss
  p/themes/base-theme/frss.css
  p/themes/base-theme/frss.rtl.css
Labels: UI :art:

#4789 Improved: implement CSS variable --frss-padding-flux-items
  p/themes/base-theme/frss.css
  p/themes/base-theme/frss.rtl.css
Labels: UI :art:

#4791 fixed: box layout for global view
  p/themes/Alternative-Dark/adark.css
  p/themes/Alternative-Dark/adark.rtl.css
  p/themes/Ansum/_global-view.scss
  p/themes/Ansum/ansum.css
  p/themes/Ansum/ansum.rtl.css
  p/themes/BlueLagoon/BlueLagoon.css
  p/themes/BlueLagoon/BlueLagoon.rtl.css
  p/themes/Dark/dark.css
  p/themes/Dark/dark.rtl.css
  p/themes/Flat/flat.css
  p/themes/Flat/flat.rtl.css
  p/themes/Mapco/_global-view.scss
  p/themes/Mapco/mapco.css
  p/themes/Mapco/mapco.rtl.css
  p/themes/Nord/nord.css
  p/themes/Nord/nord.rtl.css
  p/themes/Origine/origine.css
  p/themes/Origine/origine.rtl.css
  p/themes/Pafat/pafat.css
  p/themes/Pafat/pafat.rtl.css
  p/themes/Screwdriver/screwdriver.css
  p/themes/Screwdriver/screwdriver.rtl.css
  p/themes/Swage/swage.css
  p/themes/Swage/swage.rtl.css
  p/themes/Swage/swage.scss
  p/themes/base-theme/base.css
  p/themes/base-theme/base.rtl.css
Labels: UI :art:

#4792 improved: Pafat theme aside bar
  p/themes/Pafat/pafat.css
  p/themes/Pafat/pafat.rtl.css
  p/themes/base-theme/frss.css
  p/themes/base-theme/frss.rtl.css
Labels: Theme

#4793 fix: .icon height
  p/themes/base-theme/frss.css
  p/themes/base-theme/frss.rtl.css
Labels: UI :art:

#4799 fix: swage theme: jumping lines
  p/themes/Swage/swage.css
  p/themes/Swage/swage.rtl.css
  p/themes/Swage/swage.scss
Labels: Important :fire:, Theme

#4798 fix: base theme: line-height
  p/themes/base-theme/base.css
  p/themes/base-theme/base.rtl.css
Labels: Theme, System care
