Repository FreshRSS/FreshRSS, pull requests merged in 2023-03, with the labels that each got.

#5083 SimplePie use single constant for default HTTP Accept header
  lib/SimplePie/SimplePie.php
  lib/SimplePie/SimplePie/Locator.php
Labels: SimplePie :cake:, Feed problem :newspaper_roll:

#5144 defined('CLEANCACHE_HOURS')
  constants.php
  lib/lib_rss.php
Labels: System care

#5153 fixed: Global view - Stick the article to the top when opened
  p/scripts/main.js
Labels: UI :art:

#5147 Improve UI/UX install process
  app/i18n/cz/install.php
  app/i18n/de/install.php
  app/i18n/el/install.php
  app/i18n/en-us/install.php
  app/i18n/en/install.php
  app/i18n/es/install.php
  app/i18n/fr/install.php
  app/i18n/he/install.php
  app/i18n/id/install.php
  app/i18n/it/install.php
  app/i18n/ja/install.php
  app/i18n/ko/install.php
  app/i18n/nl/install.php
  app/i18n/oc/install.php
  app/i18n/pl/install.php
  app/i18n/pt-br/install.php
  app/i18n/ru/install.php
  app/i18n/sk/install.php
  app/i18n/tr/install.php
  app/i18n/zh-cn/install.php
  app/i18n/zh-tw/install.php
  app/install.php
  p/scripts/extra.js
  p/scripts/install.js
  p/themes/Origine/origine.css
  p/themes/Origine/origine.rtl.css
  p/themes/base-theme/frss.css
  p/themes/base-theme/frss.rtl.css
Labels: UI :art:, UX

#4969 feat: create config to display website icon only / name only / icon and name / none on feeds
  app/Controllers/configureController.php
  app/Models/ConfigurationSetter.php
  app/Models/UserConfiguration.php
  app/i18n/cz/conf.php
  app/i18n/de/conf.php
  app/i18n/el/conf.php
  app/i18n/en-us/conf.php
  app/i18n/en/conf.php
  app/i18n/es/conf.php
  app/i18n/fr/conf.php
  app/i18n/he/conf.php
  app/i18n/id/conf.php
  app/i18n/it/conf.php
  app/i18n/ja/conf.php
  app/i18n/ko/conf.php
  app/i18n/nl/conf.php
  app/i18n/oc/conf.php
  app/i18n/pl/conf.php
  app/i18n/pt-br/conf.php
  app/i18n/ru/conf.php
  app/i18n/sk/conf.php
  app/i18n/tr/conf.php
  app/i18n/zh-cn/conf.php
  app/i18n/zh-tw/conf.php
  app/views/configure/display.phtml
  app/views/helpers/index/normal/entry_header.phtml
  config-user.default.php
  p/themes/base-theme/frss.css
  p/themes/base-theme/frss.rtl.css
Labels: UI :art:

#5105 Add: <meta name="theme-color">
  app/FreshRSS.php
  app/layout/layout.phtml
  lib/Minz/View.php
  p/themes/Alternative-Dark/metadata.json
  p/themes/Ansum/metadata.json
  p/themes/BlueLagoon/metadata.json
  p/themes/Dark-pink/metadata.json
  p/themes/Dark/metadata.json
  p/themes/Flat/metadata.json
  p/themes/Mapco/metadata.json
  p/themes/Nord/metadata.json
  p/themes/Origine-compact/metadata.json
  p/themes/Origine/metadata.json
  p/themes/Pafat/metadata.json
  p/themes/Screwdriver/metadata.json
  p/themes/Swage/metadata.json
  p/themes/base-theme/metadata.json
Labels: Theme

#5168 fix: i18n for autom. dark mode config
  app/i18n/cz/conf.php
  app/i18n/de/conf.php
  app/i18n/el/conf.php
  app/i18n/en-us/conf.php
  app/i18n/en/conf.php
  app/i18n/es/conf.php
  app/i18n/fr/conf.php
  app/i18n/he/conf.php
  app/i18n/id/conf.php
  app/i18n/it/conf.php
  app/i18n/ja/conf.php
  app/i18n/ko/conf.php
  app/i18n/nl/conf.php
  app/i18n/oc/conf.php
  app/i18n/pl/conf.php
  app/i18n/pt-br/conf.php
  app/i18n/ru/conf.php
  app/i18n/sk/conf.php
  app/i18n/tr/conf.php
  app/i18n/zh-cn/conf.php
  app/i18n/zh-tw/conf.php
  app/views/configure/display.phtml
Labels: I18n :earth_africa:

#5171 i18n: German
  app/i18n/de/conf.php
  app/i18n/de/gen.php
  app/i18n/de/sub.php
Labels: I18n :earth_africa:

#5108 Typehint to greader.php file
  p/api/greader.php
Labels: API :handshake:, System care

#5194 docs: fix nginx configuration
  Docker/README.md
Labels: Documentation :books:, Docker

#5199 Merge SimplePie 747
  lib/SimplePie/SimplePie/Misc.php
Labels: SimplePie :cake:

#5206 Alternative dark: improve border color of notification
  p/themes/Alternative-Dark/adark.css
  p/themes/Alternative-Dark/adark.rtl.css
Labels: Theme

#5211 fix: highlight next/prev article while using shortcuts
  p/themes/Alternative-Dark/adark.css
  p/themes/Alternative-Dark/adark.rtl.css
  p/themes/Ansum/_list-view.scss
  p/themes/Ansum/ansum.css
  p/themes/Ansum/ansum.rtl.css
  p/themes/Origine/origine.css
  p/themes/Origine/origine.rtl.css
  p/themes/Pafat/pafat.css
  p/themes/Pafat/pafat.rtl.css
Labels: Theme

#5214 FeverAPI fix enclosures
  app/Models/Entry.php
  p/api/fever.php
Labels: API :handshake:, Bug (confirmed) 🪲

#5216 fix: jump to next button: div -> span
  app/views/helpers/stream-footer.phtml
Labels: UI :art:

#5215 Improved: show Terms of Service in config menu
  app/Controllers/authController.php
  app/Controllers/indexController.php
  app/Controllers/userController.php
  app/i18n/cz/admin.php
  app/i18n/de/admin.php
  app/i18n/el/admin.php
  app/i18n/en-us/admin.php
  app/i18n/en/admin.php
  app/i18n/es/admin.php
  app/i18n/fr/admin.php
  app/i18n/he/admin.php
  app/i18n/id/admin.php
  app/i18n/it/admin.php
  app/i18n/ja/admin.php
  app/i18n/ko/admin.php
  app/i18n/nl/admin.php
  app/i18n/oc/admin.php
  app/i18n/pl/admin.php
  app/i18n/pt-br/admin.php
  app/i18n/ru/admin.php
  app/i18n/sk/admin.php
  app/i18n/tr/admin.php
  app/i18n/zh-cn/admin.php
  app/i18n/zh-tw/admin.php
  app/layout/aside_configure.phtml
  app/layout/header.phtml
  app/views/configure/system.phtml
  app/views/index/about.phtml
  app/views/index/tos.phtml
  constants.php
  data/tos.example.html
  p/themes/Alternative-Dark/adark.css
  p/themes/Alternative-Dark/adark.rtl.css
  p/themes/Ansum/_configuration.scss
  p/themes/Ansum/ansum.css
  p/themes/Ansum/ansum.rtl.css
  p/themes/BlueLagoon/BlueLagoon.css
  p/themes/BlueLagoon/BlueLagoon.rtl.css
  p/themes/Dark/dark.css
  p/themes/Dark/dark.rtl.css
  p/themes/Flat/flat.css
  p/themes/Flat/flat.rtl.css
  p/themes/Mapco/_configuration.scss
  p/themes/Mapco/mapco.css
  p/themes/Mapco/mapco.rtl.css
  p/themes/Nord/nord.css
  p/themes/Nord/nord.rtl.css
  p/themes/Origine/origine.css
  p/themes/Origine/origine.rtl.css
  p/themes/Pafat/pafat.css
  p/themes/Pafat/pafat.rtl.css
  p/themes/Screwdriver/screwdriver.css
  p/themes/Screwdriver/screwdriver.rtl.css
  p/themes/Swage/swage.css
  p/themes/Swage/swage.rtl.css
  p/themes/Swage/swage.scss
  p/themes/base-theme/base.css
  p/themes/base-theme/base.rtl.css
  p/themes/base-theme/frss.css
  p/themes/base-theme/frss.rtl.css
Labels: UI :art:

#5106 Typehint some Controllers
  app/Controllers/apiController.php
  app/Controllers/authController.php
  app/Controllers/categoryController.php
  app/Controllers/configureController.php
  app/Controllers/entryController.php
  app/Controllers/errorController.php
  app/Controllers/importExportController.php
  app/Controllers/javascriptController.php
  app/Controllers/statsController.php
  app/Controllers/subscriptionController.php
  app/Controllers/tagController.php
Labels: System care

#5212 Remove FreshRSS_Searchable for better types
  app/Models/CategoryDAO.php
  app/Models/EntryDAO.php
  app/Models/FeedDAO.php
  app/Models/Searchable.php
  app/Models/TagDAO.php
  p/api/fever.php
Labels: System care

#5213 Consistent entry ID type (32-bit compatibility)
  app/Controllers/feedController.php
  app/Controllers/importExportController.php
  app/Controllers/indexController.php
  app/Models/EntryDAO.php
  app/Models/EntryDAOPGSQL.php
  app/Models/EntryDAOSQLite.php
  app/Services/ExportService.php
  p/api/fever.php
  p/api/greader.php
Labels: API :handshake:, System care

#5089 Modernize Constants and use new constant for string 'currentUser'
  app/Controllers/apiController.php
  app/Controllers/authController.php
  app/Controllers/importExportController.php
  app/Controllers/userController.php
  app/Models/Auth.php
  app/Models/Context.php
  app/Models/Feed.php
  app/Models/LogDAO.php
  app/Models/UserDAO.php
  app/install.php
  app/layout/aside_configure.phtml
  app/layout/header.phtml
  app/layout/nav_menu.phtml
  app/layout/simple.phtml
  app/views/helpers/export/articles.phtml
  app/views/user/profile.phtml
  cli/do-install.php
  constants.php
  lib/Minz/Extension.php
  lib/Minz/Log.php
  lib/Minz/ModelPdo.php
  lib/Minz/User.php
  lib/lib_rss.php
  p/api/fever.php
  p/api/greader.php
  p/i/index.php
  tests/bootstrap.php
Labels: System care

#5180 [Docker] Listening for IPv6 connections
  Docker/FreshRSS.Apache.conf
  Docker/README.md
Labels: Docker

#5229 Improved: Dark mode of Origine
  p/themes/Origine/origine.css
  p/themes/Origine/origine.rtl.css
Labels: Theme

#5230 Automated test towards PHPStan level 6
  .github/workflows/tests.yml
  app/Models/SystemConfiguration.php
  app/Models/UserConfiguration.php
  app/actualize_script.php
  app/views/helpers/export/opml.phtml
  composer.json
  tests/phpstan-next.txt
Labels: System care

#5087 Add test and type hinting
  app/Models/Log.php
  app/Models/LogDAO.php
  lib/Minz/Session.php
  tests/app/Models/LogDAOTest.php
  tests/phpstan-next.txt
Labels: System care

#5064 Cleaning code and typehinting
  app/Controllers/indexController.php
  app/Models/Context.php
  composer.json
  tests/phpstan-next.txt
Labels: System care

#5238 Fix OPML export
  app/views/helpers/export/opml.phtml
Labels: Bug (confirmed) 🪲

#5234 Simplify extension method
  lib/Minz/Extension.php
  lib/Minz/ExtensionManager.php
Labels: Extension :electric_plug:

#5239 PHPStan level 6 for all PDO and Exception classes
  app/Controllers/feedController.php
  app/Controllers/tagController.php
  app/Controllers/userController.php
  app/Exceptions/AlreadySubscribedException.php
  app/Exceptions/BadUrlException.php
  app/Exceptions/FeedNotAddedException.php
  app/Exceptions/ZipException.php
  app/Mailers/UserMailer.php
  app/Models/BooleanSearch.php
  app/Models/CategoryDAO.php
  app/Models/CategoryDAOSQLite.php
  app/Models/DatabaseDAO.php
  app/Models/DatabaseDAOPGSQL.php
  app/Models/DatabaseDAOSQLite.php
  app/Models/FeedDAO.php
  app/Models/FeedDAOSQLite.php
  app/Models/ReadingMode.php
  app/Models/TagDAO.php
  app/Models/TagDAOSQLite.php
  app/Models/UserDAO.php
  cli/i18n/I18nCompletionValidator.php
  cli/i18n/I18nUsageValidator.php
  cli/i18n/I18nValidatorInterface.php
  lib/Minz/ActionException.php
  lib/Minz/Configuration.php
  lib/Minz/ConfigurationException.php
  lib/Minz/ControllerNotActionControllerException.php
  lib/Minz/ControllerNotExistException.php
  lib/Minz/CurrentPagePaginationException.php
  lib/Minz/Error.php
  lib/Minz/Exception.php
  lib/Minz/ExtensionException.php
  lib/Minz/FileNotExistException.php
  lib/Minz/Helper.php
  lib/Minz/Mailer.php
  lib/Minz/ModelPdo.php
  lib/Minz/PDOConnectionException.php
  lib/Minz/Pdo.php
  lib/Minz/PdoMysql.php
  lib/Minz/PdoPgsql.php
  lib/Minz/PdoSqlite.php
  lib/Minz/PermissionDeniedException.php
  lib/favicons.php
  lib/lib_date.php
  lib/lib_install.php
  tests/phpstan-next.txt
Labels: System care
