Repository FreshRSS/FreshRSS, pull requests merged in 2023-06, with the labels that each got.

#5436 Pull request of spanish translation
  app/i18n/es/admin.php
  app/i18n/es/conf.php
  app/i18n/es/gen.php
  app/i18n/es/index.php
  app/i18n/es/sub.php
Labels: I18n :earth_africa:

#5437 improved: background colors for dark mode of Origine theme
  p/themes/Origine/origine.css
  p/themes/Origine/origine.rtl.css
Labels: Theme

#5446 Docker example of PostgreSQL tuning
  Docker/freshrss/docker-compose-db.yml
Labels: Documentation :books:, Docker

#5448 Update SECURITY.md
  SECURITY.md
Labels: Documentation :books:, Security :shield:

#5453 fix: new article banner in Ansum/mapco theme
  p/themes/Ansum/_layout.scss
  p/themes/Ansum/ansum.css
  p/themes/Ansum/ansum.rtl.css
  p/themes/Mapco/_layout.scss
  p/themes/Mapco/mapco.css
  p/themes/Mapco/mapco.rtl.css
Labels: Theme

#5439 Update dark theme css to lower brightness to all icons
  p/themes/Dark/dark.css
  p/themes/Dark/dark.rtl.css
Labels: Theme

#5457 Remove core extensions Google Groups and Tumblr
  config.default.php
  docs/en/admins/15_extensions.md
  lib/core-extensions/Google-Groups/README.md
  lib/core-extensions/Google-Groups/extension.php
  lib/core-extensions/Google-Groups/metadata.json
  lib/core-extensions/Tumblr-GDPR/README.md
  lib/core-extensions/Tumblr-GDPR/extension.php
  lib/core-extensions/Tumblr-GDPR/metadata.json
Labels: Extension :electric_plug:

#5458 Clarify that maximum number to keep is per feed
  CREDITS.md
  app/i18n/cz/conf.php
  app/i18n/de/conf.php
  app/i18n/el/conf.php
  app/i18n/en-us/conf.php
  app/i18n/en/conf.php
  app/i18n/es/conf.php
  app/i18n/fr/conf.php
  app/i18n/he/conf.php
  app/i18n/id/conf.php
  app/i18n/it/conf.php
  app/i18n/ja/conf.php
  app/i18n/ko/conf.php
  app/i18n/lv/conf.php
  app/i18n/nl/conf.php
  app/i18n/oc/conf.php
  app/i18n/pl/conf.php
  app/i18n/pt-br/conf.php
  app/i18n/ru/conf.php
  app/i18n/sk/conf.php
  app/i18n/tr/conf.php
  app/i18n/zh-cn/conf.php
  app/i18n/zh-tw/conf.php
Labels: I18n :earth_africa:

#5463 Fix OpenID Connect crash on ARM
  Docker/Dockerfile
  Docker/Dockerfile-QEMU-ARM
  Docker/entrypoint.sh
Labels: Security :shield:, Bug (confirmed) 🪲

#5468 Fix: conf.php (German i18n)
  app/i18n/de/conf.php
Labels: I18n :earth_africa:

#5420 Improved: update page
  app/Controllers/updateController.php
  app/Models/View.php
  app/i18n/cz/admin.php
  app/i18n/de/admin.php
  app/i18n/el/admin.php
  app/i18n/el/feedback.php
  app/i18n/en-us/admin.php
  app/i18n/en-us/gen.php
  app/i18n/en/admin.php
  app/i18n/en/conf.php
  app/i18n/en/feedback.php
  app/i18n/en/gen.php
  app/i18n/en/sub.php
  app/i18n/es/admin.php
  app/i18n/fr/admin.php
  app/i18n/he/admin.php
  app/i18n/id/admin.php
  app/i18n/id/feedback.php
  app/i18n/it/admin.php
  app/i18n/ja/admin.php
  app/i18n/ko/admin.php
  app/i18n/lv/admin.php
  app/i18n/lv/conf.php
  app/i18n/nl/admin.php
  app/i18n/oc/admin.php
  app/i18n/pl/admin.php
  app/i18n/pt-br/admin.php
  app/i18n/ru/admin.php
  app/i18n/sk/admin.php
  app/i18n/tr/admin.php
  app/i18n/zh-cn/admin.php
  app/i18n/zh-tw/admin.php
  app/views/update/index.phtml
  p/scripts/extra.js
  p/themes/Origine/origine.css
  p/themes/Origine/origine.rtl.css
Labels: UI :art:, UX, Feedback wanted

#5449 Allow deep link to extension configuration
  app/Controllers/extensionController.php
  app/views/helpers/extension/configure.phtml
  p/scripts/extra.js
Labels: UI :art:, Extension :electric_plug:

#5461 Docker: Debian 12
  Docker/Dockerfile
  Docker/Dockerfile-QEMU-ARM
Labels: Docker

#5464 Docker quiet Apache a2enmod
  Docker/Dockerfile
  Docker/Dockerfile-QEMU-ARM
  Docker/entrypoint.sh
Labels: Docker

#5469 Fix slider views
  app/Controllers/configureController.php
  app/Controllers/extensionController.php
  app/Controllers/subscriptionController.php
  app/Controllers/userController.php
  app/layout/aside_configure.phtml
  app/layout/aside_subscription.phtml
  app/views/configure/query.phtml
  app/views/subscription/category.phtml
  app/views/subscription/feed.phtml
  app/views/user/details.phtml
  lib/Minz/Url.php
Labels: UI :art:, Extension :electric_plug:, Bug (confirmed) 🪲

#5478 Update dev dependencies
  composer.json
  composer.lock
  docs/en/developers/05_Release_new_version.md
  docs/fr/developers/05_Release_new_version.md
  p/themes/BlueLagoon/README.md
  package-lock.json
  package.json
Labels: System care

#5492 Fix macOS feed title meta-click behavior
  CREDITS.md
  p/scripts/main.js
Labels: UI :art:, Shortcuts

#5493 docs: add deep links
  docs/en/index.md
Labels: Documentation :books:

#5494 docs: web scrapping with XPath
  docs/en/users/02_First_steps.md
  docs/en/users/11_website_scraping.md
Labels: Documentation :books:

#5496 Global view: reduce overhead
  p/scripts/global_view.js
Labels: System care

#5481 Allow choosing the OIDC remote user claim and scopes to request from the identity provider
  Docker/FreshRSS.Apache.conf
  docs/en/admins/16_OpenID-Connect.md
Labels: Security :shield:
