Repository FreshRSS/FreshRSS, pull requests merged in 2024-02, with the labels that each got.

#6091 applyFilterActions after extensions
  app/Controllers/feedController.php
Labels: Extension :electric_plug:

#6108 Fix Japanese translation
  app/i18n/ja/sub.php
Labels: I18n :earth_africa:

#6098 Traefik 2.11 in docker-compose example
  Docker/freshrss/docker-compose-proxy.yml
Labels: Documentation :books:, Docker

#6114 No warning for muted feeds
  app/Models/Category.php
  app/layout/aside_feed.phtml
  app/views/index/global.phtml
  app/views/stats/idle.phtml
Labels: UI :art:
