Repository FreshRSS/FreshRSS, pull requests merged in 2024-04, with the labels that each got.

#6212 Improve/fix label management
  app/Controllers/tagController.php
  app/views/tag/index.phtml
  p/themes/base-theme/frss.css
  p/themes/base-theme/frss.rtl.css
Labels: UI :art:, UX

#6238 greader.php: only return 'OK' on greader.php without query parameters
  p/api/greader.php
Labels: API :handshake:

#6265 Minor update dev libraries
  composer.json
  composer.lock
  package-lock.json
Labels: System care

#6271 HTTP Get allow UTF-8 even when charset is far from top
  lib/lib_rss.php
Labels: Feed problem :newspaper_roll:

#6264 Avoid duplicates in Dynamic OPML
  app/Models/Category.php
Labels: Bug (confirmed) 🐞

#6270 Fix SimplePie absolutize URL for several cases
  lib/SimplePie/SimplePie.php
  lib/SimplePie/SimplePie/Item.php
Labels: SimplePie :cake:, Bug (confirmed) 🐞

#6268 Fix paging posts per page
  app/Controllers/indexController.php
Labels: Bug (confirmed) 🐞

#6269 Allow admins to create user even when there are TOS
  app/Controllers/userController.php
Labels: Bug (confirmed) 🐞

#6277 fix hotkey trigger for clipboard sharing option
  p/scripts/main.js
Labels: Shortcuts

#6274 SimplePie replace iframe allow attribute
  lib/lib_rss.php
Labels: SimplePie :cake:, Security :shield:, UX

#6290 Add some error prevention to Debian/Ubuntu installation docs
  README.fr.md
  docs/en/admins/06_LinuxInstall.md
Labels: Documentation :books:

#6294 Improve Japanese translation for CSS selector
  app/i18n/ja/sub.php
Labels: I18n :earth_africa:

#6301 Fix: #6278 Clipboard sharing
  p/scripts/main.js
Labels: UI :art:

#6299 improved: Gap between header and first image
  p/themes/base-theme/frss.css
  p/themes/base-theme/frss.rtl.css
Labels: UI :art:

#6307 Update @stylistic/stylelint-plugin
  .stylelintrc.json
  package-lock.json
  package.json
Labels: System care

#6289 Improved: Reading view: author
  app/views/helpers/index/article.phtml
  p/themes/Alternative-Dark/adark.css
  p/themes/Alternative-Dark/adark.rtl.css
  p/themes/Ansum/_reader-view.scss
  p/themes/Ansum/ansum.css
  p/themes/Ansum/ansum.rtl.css
  p/themes/Flat/flat.css
  p/themes/Flat/flat.rtl.css
  p/themes/Mapco/_reader-view.scss
  p/themes/Mapco/mapco.css
  p/themes/Mapco/mapco.rtl.css
  p/themes/Nord/nord.css
  p/themes/Nord/nord.rtl.css
  p/themes/Origine/origine.css
  p/themes/Origine/origine.rtl.css
  p/themes/Pafat/pafat.css
  p/themes/Pafat/pafat.rtl.css
  p/themes/Swage/swage.css
  p/themes/Swage/swage.rtl.css
  p/themes/Swage/swage.scss
  p/themes/base-theme/base.css
  p/themes/base-theme/base.rtl.css
Labels: UI :art:

#6312 Download feed configs as opml: button
  app/i18n/cz/sub.php
  app/i18n/de/sub.php
  app/i18n/el/sub.php
  app/i18n/en-us/sub.php
  app/i18n/en/sub.php
  app/i18n/es/sub.php
  app/i18n/fa/sub.php
  app/i18n/fr/sub.php
  app/i18n/he/sub.php
  app/i18n/hu/sub.php
  app/i18n/id/sub.php
  app/i18n/it/sub.php
  app/i18n/ja/sub.php
  app/i18n/ko/sub.php
  app/i18n/lv/sub.php
  app/i18n/nl/sub.php
  app/i18n/oc/sub.php
  app/i18n/pl/sub.php
  app/i18n/pt-br/sub.php
  app/i18n/ru/sub.php
  app/i18n/sk/sub.php
  app/i18n/tr/sub.php
  app/i18n/zh-cn/sub.php
  app/i18n/zh-tw/sub.php
  app/views/helpers/feed/update.phtml
Labels: UI :art:

#6314 Fix: API mangement section in profile page
  app/views/user/profile.phtml
Labels: Bug (confirmed) 🐞

#6317 i18n improved: dotted path -> dot-notation
  app/Models/Feed.php
  app/Utils/dotNotationUtil.php
  app/i18n/cz/sub.php
  app/i18n/de/sub.php
  app/i18n/el/sub.php
  app/i18n/en-us/sub.php
  app/i18n/en/sub.php
  app/i18n/es/sub.php
  app/i18n/fa/sub.php
  app/i18n/fr/sub.php
  app/i18n/he/sub.php
  app/i18n/hu/sub.php
  app/i18n/id/sub.php
  app/i18n/it/sub.php
  app/i18n/ja/sub.php
  app/i18n/ko/sub.php
  app/i18n/lv/sub.php
  app/i18n/nl/sub.php
  app/i18n/oc/sub.php
  app/i18n/pl/sub.php
  app/i18n/pt-br/sub.php
  app/i18n/ru/sub.php
  app/i18n/sk/sub.php
  app/i18n/tr/sub.php
  app/i18n/zh-cn/sub.php
  app/i18n/zh-tw/sub.php
  app/views/helpers/feed/update.phtml
  app/views/subscription/add.phtml
  tests/app/Utils/dotNotationUtilTest.php
Labels: I18n :earth_africa:

#6313 i18n: de
  app/i18n/de/admin.php
  app/i18n/de/conf.php
  app/i18n/de/feedback.php
  app/i18n/de/index.php
  app/i18n/de/sub.php
Labels: I18n :earth_africa:

#6337 Update of Japanese translation
  app/i18n/ja/admin.php
  app/i18n/ja/conf.php
  app/i18n/ja/feedback.php
  app/i18n/ja/gen.php
  app/i18n/ja/index.php
  app/i18n/ja/sub.php
Labels: I18n :earth_africa:

#6342 i18n: Update Korean translation
  app/i18n/ko/admin.php
  app/i18n/ko/conf.php
  app/i18n/ko/feedback.php
  app/i18n/ko/gen.php
  app/i18n/ko/index.php
  app/i18n/ko/sub.php
Labels: I18n :earth_africa:

#6343 [l18n] Update Dutch translation for 1.24
  app/i18n/nl/admin.php
  app/i18n/nl/conf.php
  app/i18n/nl/feedback.php
  app/i18n/nl/index.php
  app/i18n/nl/sub.php
Labels: I18n :earth_africa:

#6345 Update PT-BR translation
  app/i18n/pt-br/admin.php
  app/i18n/pt-br/conf.php
  app/i18n/pt-br/feedback.php
  app/i18n/pt-br/gen.php
  app/i18n/pt-br/index.php
  app/i18n/pt-br/sub.php
Labels: I18n :earth_africa:

#6328 Update TR translation #6325
  app/i18n/tr/admin.php
  app/i18n/tr/conf.php
  app/i18n/tr/feedback.php
  app/i18n/tr/gen.php
  app/i18n/tr/index.php
  app/i18n/tr/sub.php
Labels: I18n :earth_africa:

#6329 Update of italian translation
  app/i18n/it/admin.php
  app/i18n/it/conf.php
  app/i18n/it/feedback.php
  app/i18n/it/sub.php
Labels: I18n :earth_africa:

#6357 Improve: input width in user query config slider
  app/views/helpers/configure/query.phtml
Labels: UI :art:

#6336 i18n: update zh-cn translation
  app/i18n/zh-cn/admin.php
  app/i18n/zh-cn/conf.php
  app/i18n/zh-cn/feedback.php
  app/i18n/zh-cn/gen.php
  app/i18n/zh-cn/sub.php
Labels: I18n :earth_africa:

#6344 [i18n] Added Czech translation
  app/i18n/cz/admin.php
  app/i18n/cz/conf.php
  app/i18n/cz/feedback.php
  app/i18n/cz/gen.php
  app/i18n/cz/index.php
  app/i18n/cz/sub.php
Labels: I18n :earth_africa:

#6358 Update Polish translation.
  app/i18n/pl/admin.php
  app/i18n/pl/conf.php
  app/i18n/pl/feedback.php
  app/i18n/pl/gen.php
  app/i18n/pl/index.php
  app/i18n/pl/sub.php
Labels: I18n :earth_africa:

#6350 update zh-tw translation for new strings
  app/i18n/zh-tw/admin.php
  app/i18n/zh-tw/conf.php
  app/i18n/zh-tw/feedback.php
  app/i18n/zh-tw/gen.php
  app/i18n/zh-tw/index.php
  app/i18n/zh-tw/install.php
  app/i18n/zh-tw/sub.php
Labels: I18n :earth_africa:

#6362 Update sub.php
  app/i18n/sk/sub.php
Labels: I18n :earth_africa:

#6363 Update admin.php
  app/i18n/sk/admin.php
Labels: I18n :earth_africa:

#6364 Update conf.php
  app/i18n/sk/conf.php
Labels: I18n :earth_africa:

#6365 Update feedback.php
  app/i18n/sk/feedback.php
Labels: I18n :earth_africa:

#6367 Update index.php
  app/i18n/sk/index.php
Labels: I18n :earth_africa:

#6368 Json dotpath i18n
  app/views/helpers/feed/update.phtml
  app/views/subscription/add.phtml
Labels: I18n :earth_africa:

#6366 Update gen.php
  app/i18n/sk/gen.php
Labels: I18n :earth_africa:

#6285 Windows: release SQLite
  app/Controllers/userController.php
  app/Models/UserDAO.php
  lib/Minz/ModelPdo.php
Labels: Bug (confirmed) 🐞

#6369 Refactoring: Rename dotpath into dotnotation
  app/Controllers/feedController.php
  app/Controllers/subscriptionController.php
  app/Models/Feed.php
  app/Services/ExportService.php
  app/Services/ImportService.php
  app/Utils/dotNotationUtil.php
  app/views/helpers/export/opml.phtml
  app/views/helpers/feed/update.phtml
  app/views/subscription/add.phtml
  docs/en/developers/OPML.md
Labels: System care

#6377 Update Hungarian translation
  app/i18n/hu/admin.php
  app/i18n/hu/conf.php
  app/i18n/hu/feedback.php
  app/i18n/hu/sub.php
Labels: I18n :earth_africa:

#6373 Fix: overflow expanding title in entry header
  app/views/helpers/index/normal/entry_header.phtml
  p/scripts/main.js
  p/themes/Alternative-Dark/adark.css
  p/themes/Alternative-Dark/adark.rtl.css
  p/themes/Ansum/_list-view.scss
  p/themes/Ansum/ansum.css
  p/themes/Ansum/ansum.rtl.css
  p/themes/Dark/dark.css
  p/themes/Dark/dark.rtl.css
  p/themes/Flat/flat.css
  p/themes/Flat/flat.rtl.css
  p/themes/Mapco/_list-view.scss
  p/themes/Mapco/mapco.css
  p/themes/Mapco/mapco.rtl.css
  p/themes/Nord/nord.css
  p/themes/Nord/nord.rtl.css
  p/themes/Origine/origine.css
  p/themes/Origine/origine.rtl.css
  p/themes/Pafat/pafat.css
  p/themes/Pafat/pafat.rtl.css
  p/themes/Swage/swage.css
  p/themes/Swage/swage.rtl.css
  p/themes/Swage/swage.scss
  p/themes/base-theme/frss.css
  p/themes/base-theme/frss.rtl.css
Labels: UI :art:

#6376 Fix: left side border of search bar input
  app/layout/header.phtml
Labels: UI :art:

#6385 Fix date issue in mobile view
  p/themes/Alternative-Dark/adark.css
  p/themes/Alternative-Dark/adark.rtl.css
  p/themes/Ansum/_list-view.scss
  p/themes/Ansum/ansum.css
  p/themes/Ansum/ansum.rtl.css
  p/themes/Dark/dark.css
  p/themes/Dark/dark.rtl.css
  p/themes/Flat/flat.css
  p/themes/Flat/flat.rtl.css
  p/themes/Mapco/_list-view.scss
  p/themes/Mapco/mapco.css
  p/themes/Mapco/mapco.rtl.css
  p/themes/Nord/nord.css
  p/themes/Nord/nord.rtl.css
  p/themes/Pafat/pafat.css
  p/themes/Pafat/pafat.rtl.css
  p/themes/Swage/swage.css
  p/themes/Swage/swage.rtl.css
  p/themes/Swage/swage.scss
  p/themes/base-theme/base.css
  p/themes/base-theme/base.rtl.css
  p/themes/base-theme/frss.css
  p/themes/base-theme/frss.rtl.css
Labels: UI :art:

#6387 CLI database backup and restore
  Docker/README.md
  app/Models/DatabaseDAO.php
  cli/README.md
  cli/db-backup.php
  cli/db-restore.php
  docs/en/admins/05_Backup.md
  docs/en/admins/Caddy.md
Labels: CLI

#6390 Improved: title hover: date opacity 0.3 -> 0.5
  p/themes/base-theme/frss.css
  p/themes/base-theme/frss.rtl.css
Labels: UI :art:
