Repository FreshRSS/FreshRSS, pull requests merged in 2025-06, with the labels that each got.

#7627 Docker: Alpine 3.22
  Docker/Dockerfile-Alpine
Labels: Docker 🐋

#7576 Add API endpoint for extensions
  docs/en/admins/10_ServerConfig.md
  docs/en/developers/03_Backend/05_Extensions.md
  docs/fr/developers/03_Backend/05_Extensions.md
  docs/fr/users/01_Installation.md
  lib/Minz/ExtensionManager.php
  p/api/index.php
  p/api/misc.php
Labels: Extension :electric_plug:, Security :shield:, API :handshake:

#7650 Archive some change logs
  .typos.toml
  CHANGELOG.md
  docs/CHANGELOG-old.md
  docs/CHANGELOG-old2.md
  docs/_config.yml
Labels: Documentation :books:

#7642 PHPStan: pass checkImplicitMixed
  app/Models/EntryDAO.php
  app/Models/TagDAO.php
  app/Services/ImportService.php
  phpstan-next.neon
  phpstan.dist.neon
Labels: php

#7665 Remove several PHPStan ignore
  app/Models/CategoryDAO.php
  app/Models/FeedDAO.php
  app/Models/TagDAO.php
Labels: php

#7670 SimplePie: Fix propagation of HTTP error codes
  lib/composer.json
  lib/simplepie/simplepie/src/HTTP/FileClient.php
  lib/simplepie/simplepie/src/SimplePie.php
Labels: Extension :electric_plug:, SimplePie :cake:

#7678 Fix Markdown 78a4256
  docs/en/admins/09_AccessControl.md
Labels: Documentation :books:, Security :shield:

#7668 Exposed the reading modes for extensions through Minz
  app/Controllers/configureController.php
  app/Controllers/indexController.php
  app/Models/View.php
  app/Models/ViewMode.php
  app/i18n/cs/feedback.php
  app/i18n/de/feedback.php
  app/i18n/el/feedback.php
  app/i18n/en-us/feedback.php
  app/i18n/en/feedback.php
  app/i18n/es/feedback.php
  app/i18n/fa/feedback.php
  app/i18n/fi/feedback.php
  app/i18n/fr/feedback.php
  app/i18n/he/feedback.php
  app/i18n/hu/feedback.php
  app/i18n/id/feedback.php
  app/i18n/it/feedback.php
  app/i18n/ja/feedback.php
  app/i18n/ko/feedback.php
  app/i18n/lv/feedback.php
  app/i18n/nl/feedback.php
  app/i18n/oc/feedback.php
  app/i18n/pl/feedback.php
  app/i18n/pt-br/feedback.php
  app/i18n/pt-pt/feedback.php
  app/i18n/ru/feedback.php
  app/i18n/sk/feedback.php
  app/i18n/tr/feedback.php
  app/i18n/zh-cn/feedback.php
  app/i18n/zh-tw/feedback.php
  app/views/configure/reading.phtml
  docs/en/developers/03_Backend/05_Extensions.md
  docs/fr/developers/03_Backend/05_Extensions.md
  lib/Minz/ExtensionManager.php
Labels: Extension :electric_plug:

#7688 Potential fix for 404 error when refreshing feeds from an extension providing a view
  app/Controllers/feedController.php
Labels: Extension :electric_plug:

#7689 Fix support for XML feeds with HTML entities
  lib/composer.json
  lib/simplepie/simplepie/src/Parser.php
Labels: SimplePie :cake:, RSS standard

#7696 Add search operator `c:` for categories
  app/Models/Entry.php
  app/Models/EntryDAO.php
  app/Models/Search.php
  docs/en/users/10_filter.md
  docs/fr/users/03_Main_view.md
  tests/app/Models/SearchTest.php
Labels: Search :mag:

#7695 API add support for states in `s` streamId
  p/api/greader.php
Labels: API :handshake:
