Repository FreshRSS/FreshRSS, pull requests merged in 2025-08, with the labels that each got.

#7772 Docker: Debian 13 RC with PHP 8.4
  Docker/Dockerfile
Labels: Docker 🐋, php

#7773 Docker dev image :newest updated to PHP 8.5
  Docker/Dockerfile-Newest
Labels: Docker 🐋

#7781 composer update + corresponding PHPStan fixes
  composer.lock
  lib/Minz/Pdo.php
Labels: php

#7775 Bump SimplePie with PHPStan Level 8
  lib/composer.json
  lib/simplepie/simplepie/.gitignore
  lib/simplepie/simplepie/phpstan.neon.dist
  lib/simplepie/simplepie/src/Cache.php
  lib/simplepie/simplepie/src/Cache/CallableNameFilter.php
  lib/simplepie/simplepie/src/Cache/File.php
  lib/simplepie/simplepie/src/Cache/MySQL.php
  lib/simplepie/simplepie/src/Enclosure.php
  lib/simplepie/simplepie/src/File.php
  lib/simplepie/simplepie/src/Gzdecode.php
  lib/simplepie/simplepie/src/HTTP/FileClient.php
  lib/simplepie/simplepie/src/HTTP/Parser.php
  lib/simplepie/simplepie/src/HTTP/Psr7Response.php
  lib/simplepie/simplepie/src/HTTP/RawTextResponse.php
  lib/simplepie/simplepie/src/HTTP/Response.php
  lib/simplepie/simplepie/src/IRI.php
  lib/simplepie/simplepie/src/Item.php
  lib/simplepie/simplepie/src/Locator.php
  lib/simplepie/simplepie/src/Misc.php
  lib/simplepie/simplepie/src/Net/IPv6.php
  lib/simplepie/simplepie/src/Parse/Date.php
  lib/simplepie/simplepie/src/Parser.php
  lib/simplepie/simplepie/src/Registry.php
  lib/simplepie/simplepie/src/Sanitize.php
  lib/simplepie/simplepie/src/SimplePie.php
  lib/simplepie/simplepie/src/Source.php
  lib/simplepie/simplepie/src/XML/Declaration/Parser.php
Labels: SimplePie :cake:, php

#7771 Improve security of form for user details
  app/views/user/details.phtml
Labels: UI :art:, Security :shield:

#7787 PHPStan start supporting PHP 8.5+
  composer.lock
  phpstan.dist.neon
Labels: php

#7797 Avoid styling `<code>` inside of `<pre>`
  CREDITS.md
  p/themes/Dark/dark.css
  p/themes/Dark/dark.rtl.css
  p/themes/Nord/nord.css
  p/themes/Nord/nord.rtl.css
  p/themes/Origine/origine.css
  p/themes/Origine/origine.rtl.css
Labels: Theme 🖌

#7785 New JS attribute: `data-auto-leave-validation`
  app/i18n/cs/gen.php
  app/i18n/de/gen.php
  app/i18n/el/gen.php
  app/i18n/en-us/gen.php
  app/i18n/en/gen.php
  app/i18n/es/gen.php
  app/i18n/fa/gen.php
  app/i18n/fi/gen.php
  app/i18n/fr/gen.php
  app/i18n/he/gen.php
  app/i18n/hu/gen.php
  app/i18n/id/gen.php
  app/i18n/it/gen.php
  app/i18n/ja/gen.php
  app/i18n/ko/gen.php
  app/i18n/lv/gen.php
  app/i18n/nl/gen.php
  app/i18n/oc/gen.php
  app/i18n/pl/gen.php
  app/i18n/pt-br/gen.php
  app/i18n/pt-pt/gen.php
  app/i18n/ru/gen.php
  app/i18n/sk/gen.php
  app/i18n/tr/gen.php
  app/i18n/zh-cn/gen.php
  app/i18n/zh-tw/gen.php
  app/views/auth/index.phtml
  app/views/configure/archiving.phtml
  app/views/configure/display.phtml
  app/views/configure/integration.phtml
  app/views/configure/privacy.phtml
  app/views/configure/reading.phtml
  app/views/configure/shortcut.phtml
  app/views/configure/system.phtml
  app/views/helpers/category/update.phtml
  app/views/helpers/configure/query.phtml
  app/views/helpers/feed/update.phtml
  app/views/helpers/javascript_vars.phtml
  app/views/importExport/index.phtml
  app/views/subscription/add.phtml
  app/views/tag/index.phtml
  app/views/tag/update.phtml
  app/views/user/details.phtml
  app/views/user/manage.phtml
  app/views/user/profile.phtml
  docs/i18n/flags/gen/fi.svg
  docs/i18n/flags/gen/sk.svg
  lib/core-extensions/UserCSS/configure.phtml
  lib/core-extensions/UserJS/configure.phtml
  p/scripts/extra.js
Labels: UI :art:

#7802 Remove unneeded execution permissions
  app/Controllers/feedController.php
  app/i18n/hu/admin.php
  app/i18n/hu/conf.php
  app/i18n/hu/feedback.php
  app/i18n/hu/gen.php
  app/i18n/hu/index.php
  app/i18n/hu/install.php
  app/i18n/hu/sub.php
  app/i18n/hu/user.php
  cli/_cli.php
Labels: Security :shield:

#7804 Show warning when unsafe CSP policy is in use
  app/FreshRSS.php
  app/Models/SystemConfiguration.php
  app/i18n/cs/gen.php
  app/i18n/de/gen.php
  app/i18n/el/gen.php
  app/i18n/en-us/gen.php
  app/i18n/en/gen.php
  app/i18n/es/gen.php
  app/i18n/fa/gen.php
  app/i18n/fi/gen.php
  app/i18n/fr/gen.php
  app/i18n/he/gen.php
  app/i18n/hu/gen.php
  app/i18n/id/gen.php
  app/i18n/it/gen.php
  app/i18n/ja/gen.php
  app/i18n/ko/gen.php
  app/i18n/lv/gen.php
  app/i18n/nl/gen.php
  app/i18n/oc/gen.php
  app/i18n/pl/gen.php
  app/i18n/pt-br/gen.php
  app/i18n/pt-pt/gen.php
  app/i18n/ru/gen.php
  app/i18n/sk/gen.php
  app/i18n/tr/gen.php
  app/i18n/zh-cn/gen.php
  app/i18n/zh-tw/gen.php
  app/views/helpers/javascript_vars.phtml
  config.default.php
  docs/en/admins/10_ServerConfig.md
  docs/i18n/flags/gen/cs.svg
  docs/i18n/flags/gen/ja.svg
  docs/i18n/flags/gen/ko.svg
  docs/i18n/flags/gen/ru.svg
  docs/i18n/flags/gen/zh-cn.svg
  docs/i18n/flags/gen/zh-tw.svg
  lib/Minz/ActionController.php
  p/scripts/main.js
Labels: Security :shield:

#7813 SimplePie Fix regex backtrack limit in clean_hash()
  lib/composer.json
  lib/simplepie/simplepie/phpstan.dist.neon
  lib/simplepie/simplepie/src/SimplePie.php
Labels: SimplePie :cake:, Bug (confirmed) 🐞

#7811 Fix privacy link not being highlighted in configure
  app/layout/aside_configure.phtml
Labels: UI :art:

#7810 Put CSP everywhere
  app/Controllers/statsController.php
  app/FreshRSS.php
  p/api/fever.php
  p/api/greader.php
  p/api/index.php
  p/api/pshb.php
  p/api/query.php
  p/ext.php
  p/f.php
Labels: Security :shield:

#7816 Fix chart.js support for SeaMonkey
  p/scripts/vendor/chart.umd.min.js
Labels: UI :art:, javascript

#7826 Fix some PHP 8.5 deprecations
  app/Controllers/updateController.php
  app/views/importExport/sqlite.phtml
  lib/favicons.php
  lib/lib_rss.php
Labels: php

#7828 Should be REMOTE_USER not Remote-User
  docs/en/admins/09_AccessControl.md
Labels: Documentation :books:, Security :shield:

#7858 Fix Docker Traefik .yml and SERVER_DNS
  Docker/freshrss/docker-compose-proxy.yml
  Docker/freshrss/example.env
Labels: Docker 🐋

#7872 Fix 7851
  p/themes/p.css
  p/themes/p.rtl.css
Labels: UI :art:, System care

#7871 Label config delete label
  app/i18n/el/sub.php
  app/i18n/en-us/sub.php
  app/i18n/en/sub.php
  app/i18n/fr/sub.php
  app/i18n/he/sub.php
  app/views/tag/update.phtml
Labels: I18n :earth_africa:

#7878 Disallow setting non-existent language
  app/Controllers/configureController.php
  lib/Minz/Translate.php
Labels: Security :shield:

#7875 Include port number for HTTP Retry-After
  app/Models/SimplePieResponse.php
  app/Utils/httpUtil.php
Labels: RSS standard

#7881 delete sub.title.rename_label
  app/i18n/cs/sub.php
  app/i18n/de/sub.php
  app/i18n/el/sub.php
  app/i18n/en-us/sub.php
  app/i18n/en/sub.php
  app/i18n/es/sub.php
  app/i18n/fa/sub.php
  app/i18n/fi/sub.php
  app/i18n/fr/sub.php
  app/i18n/he/sub.php
  app/i18n/hu/sub.php
  app/i18n/id/sub.php
  app/i18n/it/sub.php
  app/i18n/ja/sub.php
  app/i18n/ko/sub.php
  app/i18n/lv/sub.php
  app/i18n/nl/sub.php
  app/i18n/oc/sub.php
  app/i18n/pl/sub.php
  app/i18n/pt-br/sub.php
  app/i18n/pt-pt/sub.php
  app/i18n/ru/sub.php
  app/i18n/sk/sub.php
  app/i18n/tr/sub.php
  app/i18n/zh-cn/sub.php
  app/i18n/zh-tw/sub.php
Labels: I18n :earth_africa:, System care

#7868 Global view: use generic CSS class to open panel
  app/views/index/global.phtml
  p/scripts/global_view.js
Labels: Not urgent :snail:, UI :art:, System care, View

#7829 Regenerate session ID on login
  app/Controllers/authController.php
  app/Controllers/userController.php
  lib/Minz/Session.php
Labels: Security :shield:

#7882 feed update slider: <label> -> <div>
  app/views/helpers/feed/update.phtml
Labels: UX
