Repository FreshRSS/FreshRSS, pull requests merged in 2025-09, with the labels that each got.

#7893 Fix/config dropdown menu mobile view
  p/themes/Origine/origine.css
  p/themes/Origine/origine.rtl.css
  p/themes/base-theme/frss.css
  p/themes/base-theme/frss.rtl.css
Labels: UI :art:, Theme 🖌

#7891 fix: add default values on stat processing
  app/views/stats/index.phtml
Labels: UI :art:

#7608 CSS fixes for Swage
  app/layout/layout.phtml
  p/themes/Swage/swage.css
  p/themes/Swage/swage.css.map
  p/themes/Swage/swage.rtl.css
  p/themes/Swage/swage.scss
Labels: UI :art:, Theme 🖌

#7903 Fix typo in Japanese translation
  app/i18n/ja/sub.php
Labels: I18n :earth_africa:

#7905 add target to generate the translation progress
  Makefile
  composer.json
Labels: CLI

#7904 Fix: Login screen: gap between password input and show password button
  p/themes/base-theme/base.css
  p/themes/base-theme/base.rtl.css
  p/themes/base-theme/frss.css
  p/themes/base-theme/frss.rtl.css
Labels: UI :art:

#7917 Add new file in i18n
  Makefile
  cli/i18n/I18nData.php
  cli/manipulate.translation.php
  tests/cli/i18n/I18nDataTest.php
Labels: I18n :earth_africa:, CLI

#7922 Translate the API information page
  app/i18n/cs/api.php
  app/i18n/de/api.php
  app/i18n/el/api.php
  app/i18n/en-us/api.php
  app/i18n/en/api.php
  app/i18n/es/api.php
  app/i18n/fa/api.php
  app/i18n/fi/api.php
  app/i18n/fr/api.php
  app/i18n/he/api.php
  app/i18n/hu/api.php
  app/i18n/id/api.php
  app/i18n/it/api.php
  app/i18n/ja/api.php
  app/i18n/ko/api.php
  app/i18n/lv/api.php
  app/i18n/nl/api.php
  app/i18n/oc/api.php
  app/i18n/pl/api.php
  app/i18n/pt-br/api.php
  app/i18n/pt-pt/api.php
  app/i18n/ru/api.php
  app/i18n/sk/api.php
  app/i18n/tr/api.php
  app/i18n/zh-cn/api.php
  app/i18n/zh-tw/api.php
  docs/i18n/flags/gen/el.svg
  docs/i18n/flags/gen/en-us.svg
  docs/i18n/flags/gen/es.svg
  docs/i18n/flags/gen/fa.svg
  docs/i18n/flags/gen/fi.svg
  docs/i18n/flags/gen/he.svg
  docs/i18n/flags/gen/hu.svg
  docs/i18n/flags/gen/id.svg
  docs/i18n/flags/gen/it.svg
  docs/i18n/flags/gen/ja.svg
  docs/i18n/flags/gen/lv.svg
  docs/i18n/flags/gen/nl.svg
  docs/i18n/flags/gen/oc.svg
  docs/i18n/flags/gen/pt-br.svg
  docs/i18n/flags/gen/pt-pt.svg
  docs/i18n/flags/gen/sk.svg
  docs/i18n/flags/gen/tr.svg
  p/api/index.php
  p/scripts/api.js
Labels: I18n :earth_africa:, API :handshake:

#7940 Translate Dutch
  app/i18n/nl/admin.php
  app/i18n/nl/api.php
  app/i18n/nl/conf.php
  app/i18n/nl/feedback.php
  app/i18n/nl/gen.php
  app/i18n/nl/index.php
  app/i18n/nl/sub.php
  docs/i18n/flags/gen/nl.svg
Labels: I18n :earth_africa:

#7956 [origine theme] Improve visibility of nav buttons
  p/themes/Origine/origine.css
  p/themes/Origine/origine.rtl.css
Labels: Theme 🖌

#7961 Translate to Ukrainian
  README.fr.md
  README.md
  app/i18n/cs/gen.php
  app/i18n/de/gen.php
  app/i18n/el/gen.php
  app/i18n/en-us/gen.php
  app/i18n/en/gen.php
  app/i18n/es/gen.php
  app/i18n/fa/gen.php
  app/i18n/fi/gen.php
  app/i18n/fr/gen.php
  app/i18n/he/gen.php
  app/i18n/hu/gen.php
  app/i18n/id/gen.php
  app/i18n/it/gen.php
  app/i18n/ja/gen.php
  app/i18n/ko/gen.php
  app/i18n/lv/gen.php
  app/i18n/nl/gen.php
  app/i18n/oc/gen.php
  app/i18n/pl/gen.php
  app/i18n/pt-br/gen.php
  app/i18n/pt-pt/gen.php
  app/i18n/ru/gen.php
  app/i18n/sk/gen.php
  app/i18n/tr/gen.php
  app/i18n/uk/admin.php
  app/i18n/uk/api.php
  app/i18n/uk/conf.php
  app/i18n/uk/feedback.php
  app/i18n/uk/gen.php
  app/i18n/uk/index.php
  app/i18n/uk/install.php
  app/i18n/uk/sub.php
  app/i18n/uk/user.php
  app/i18n/zh-cn/gen.php
  app/i18n/zh-tw/gen.php
  docs/i18n/flags/gen/uk.svg
Labels: I18n :earth_africa:

#7963 i18n: add missing string in `pl`
  app/i18n/pl/feedback.php
  docs/i18n/flags/gen/pl.svg
Labels: I18n :earth_africa:

#7944 i18n zh-CN: Update conf.php
  app/i18n/zh-cn/conf.php
  docs/i18n/flags/gen/zh-cn.svg
Labels: I18n :earth_africa:

#7877 Fix another user self-delete regression
  app/Controllers/userController.php
  app/views/auth/formLogin.phtml
  app/views/auth/reauth.phtml
  app/views/auth/register.phtml
  app/views/feed/add.phtml
  app/views/helpers/feed/update.phtml
  app/views/subscription/add.phtml
  app/views/user/details.phtml
  app/views/user/manage.phtml
  app/views/user/profile.phtml
  p/scripts/extra.js
Labels: Security :shield:

#7970 Clarify: Visibility hidden vs. archived
  app/Controllers/entryController.php
  app/Controllers/indexController.php
  app/Models/Context.php
  app/Models/EntryDAO.php
  app/Models/Feed.php
  app/Models/UserQuery.php
  app/i18n/cs/sub.php
  app/i18n/de/sub.php
  app/i18n/el/sub.php
  app/i18n/en-us/sub.php
  app/i18n/en/sub.php
  app/i18n/es/sub.php
  app/i18n/fa/sub.php
  app/i18n/fi/sub.php
  app/i18n/fr/sub.php
  app/i18n/he/sub.php
  app/i18n/hu/sub.php
  app/i18n/id/sub.php
  app/i18n/it/sub.php
  app/i18n/ja/sub.php
  app/i18n/ko/sub.php
  app/i18n/lv/sub.php
  app/i18n/nl/sub.php
  app/i18n/oc/sub.php
  app/i18n/pl/sub.php
  app/i18n/pt-br/sub.php
  app/i18n/pt-pt/sub.php
  app/i18n/ru/sub.php
  app/i18n/sk/sub.php
  app/i18n/tr/sub.php
  app/i18n/uk/sub.php
  app/i18n/zh-cn/sub.php
  app/i18n/zh-tw/sub.php
  app/views/helpers/feed/update.phtml
Labels: I18n :earth_africa:, UX

#7979 Restrict allowed curl parameters
  app/Services/ImportService.php
  lib/lib_rss.php
Labels: Security :shield:

#7977 Add new hooks `entry_before_update` and `entry_before_add`
  app/Controllers/feedController.php
  app/Controllers/importExportController.php
  docs/en/developers/03_Backend/05_Extensions.md
  docs/fr/developers/03_Backend/05_Extensions.md
  lib/Minz/ExtensionManager.php
Labels: Extension :electric_plug:

#7986 6846 i18n update hungarian language
  app/i18n/hu/api.php
  app/i18n/hu/conf.php
  app/i18n/hu/feedback.php
  app/i18n/hu/gen.php
  app/i18n/hu/index.php
  app/i18n/hu/sub.php
  docs/i18n/flags/gen/hu.svg
Labels: I18n :earth_africa:

#7833 Update German
  app/i18n/de/admin.php
  app/i18n/de/conf.php
  app/i18n/de/feedback.php
  app/i18n/de/gen.php
  app/i18n/de/index.php
  app/i18n/de/sub.php
  docs/i18n/flags/gen/de.svg
Labels: I18n :earth_africa:

#8009 Improve restriction of curl params
  lib/lib_rss.php
Labels: Security :shield:

#8021 Fix regression in ext.php
  p/ext.php
Labels: Extension :electric_plug:, Bug (confirmed) 🐞

#7988 Stable IDs during SQL import
  app/Models/CategoryDAO.php
  app/Models/CategoryDAOPGSQL.php
  app/Models/CategoryDAOSQLite.php
  app/Models/DatabaseDAO.php
  app/Models/Factory.php
  app/Models/FeedDAO.php
  app/Models/FeedDAOPGSQL.php
  app/Models/FeedDAOSQLite.php
  app/Models/TagDAO.php
  app/Models/TagDAOPGSQL.php
  app/Models/TagDAOSQLite.php
  p/api/greader.php
Labels: Bug (confirmed) 🐞

#8028 Update German
  app/i18n/de/index.php
  app/i18n/de/sub.php
Labels: I18n :earth_africa:
