Repository FreshRSS/FreshRSS, pull requests merged in 2025-10, with the labels that each got.

#8038 Add support for extension priority
  docs/en/developers/03_Backend/05_Extensions.md
  docs/fr/developers/03_Backend/05_Extensions.md
  lib/Minz/Extension.php
  lib/Minz/ExtensionManager.php
  lib/Minz/Hook.php
Labels: Extension :electric_plug:

#8041 API optimisation: more streaming of outputs
  app/Models/Entry.php
  app/Models/Feed.php
  app/views/index/rss.phtml
  cli/check.translation.php
  p/api/greader.php
Labels: API :handshake:, php

#7983 Fix SimplePie support of HTTP trailer headers
  lib/composer.json
  lib/lib_rss.php
  lib/simplepie/simplepie/src/File.php
  lib/simplepie/simplepie/src/HTTP/Parser.php
Labels: SimplePie :cake:, Bug (confirmed) 🐞, RSS standard

#8051 API client "Your News": one star sync
  README.fr.md
  README.md
Labels: Documentation :books:, API :handshake:

#8073 Update Finnish translation
  README.fr.md
  README.md
  app/i18n/fi/admin.php
  app/i18n/fi/api.php
  app/i18n/fi/conf.php
  app/i18n/fi/feedback.php
  app/i18n/fi/gen.php
  app/i18n/fi/index.php
  app/i18n/fi/sub.php
Labels: I18n :earth_africa:, Hacktoberfest, hacktoberfest-accepted
