Repository FreshRSS/FreshRSS, pull requests merged in 2025-01, with the labels that each got.

#7177 Fix: de translation
  app/i18n/de/sub.php
Labels: I18n :earth_africa:

#7174 doc(openid-connect): Add initial setup instructions
  docs/en/admins/16_OpenID-Connect.md
Labels: Documentation :books:, Security :shield:, Docker 🐋

#7149 Implement custom order-by
  app/Controllers/entryController.php
  app/Controllers/feedController.php
  app/Controllers/indexController.php
  app/Models/Context.php
  app/Models/EntryDAO.php
  app/Models/EntryDAOPGSQL.php
  app/Models/EntryDAOSQLite.php
  app/Models/UserConfiguration.php
  app/Services/ExportService.php
  app/i18n/cs/index.php
  app/i18n/de/index.php
  app/i18n/el/index.php
  app/i18n/en-us/index.php
  app/i18n/en/index.php
  app/i18n/es/index.php
  app/i18n/fa/index.php
  app/i18n/fi/index.php
  app/i18n/fr/index.php
  app/i18n/he/index.php
  app/i18n/hu/index.php
  app/i18n/id/index.php
  app/i18n/it/index.php
  app/i18n/ja/index.php
  app/i18n/ko/index.php
  app/i18n/lv/index.php
  app/i18n/nl/index.php
  app/i18n/oc/index.php
  app/i18n/pl/index.php
  app/i18n/pt-br/index.php
  app/i18n/ru/index.php
  app/i18n/sk/index.php
  app/i18n/tr/index.php
  app/i18n/zh-cn/index.php
  app/i18n/zh-tw/index.php
  app/layout/header.phtml
  app/layout/nav_menu.phtml
  app/views/helpers/export/articles.phtml
  app/views/helpers/javascript_vars.phtml
  app/views/helpers/stream-footer.phtml
  app/views/index/normal.phtml
  app/views/index/reader.phtml
  app/views/index/rss.phtml
  config-user.default.php
  lib/Minz/Url.php
  p/api/fever.php
  p/api/greader.php
  p/scripts/main.js
Labels: Search :mag:

#7195 i18n: Japanese
  app/i18n/ja/index.php
Labels: I18n :earth_africa:

#7191 Add some missing PHP native types
  app/Controllers/importExportController.php
  app/Models/AttributesTrait.php
  app/Models/BooleanSearch.php
  app/Models/Category.php
  app/Models/Entry.php
  app/Models/EntryDAO.php
  app/Models/EntryDAOSQLite.php
  app/Models/Feed.php
  app/Models/Tag.php
  app/Models/TagDAO.php
  cli/i18n/I18nValue.php
  lib/Minz/Error.php
  lib/Minz/Paginator.php
  lib/Minz/Request.php
  lib/Minz/View.php
  lib/lib_rss.php
Labels: php

#7197 Add instructions for serving FreshRSS on a subdomain with Caddy
  docs/en/admins/Caddy.md
Labels: Documentation :books:

#7161 New: About page with env information
  .github/ISSUE_TEMPLATE/bug_report_form.yaml
  .github/ISSUE_TEMPLATE/feed-report-form.yml
  app/i18n/cs/index.php
  app/i18n/de/index.php
  app/i18n/el/index.php
  app/i18n/en-us/index.php
  app/i18n/en/index.php
  app/i18n/es/index.php
  app/i18n/fa/index.php
  app/i18n/fi/index.php
  app/i18n/fr/index.php
  app/i18n/he/index.php
  app/i18n/hu/index.php
  app/i18n/id/index.php
  app/i18n/it/index.php
  app/i18n/ja/index.php
  app/i18n/ko/index.php
  app/i18n/lv/index.php
  app/i18n/nl/index.php
  app/i18n/oc/index.php
  app/i18n/pl/index.php
  app/i18n/pt-br/index.php
  app/i18n/ru/index.php
  app/i18n/sk/index.php
  app/i18n/tr/index.php
  app/i18n/zh-cn/index.php
  app/i18n/zh-tw/index.php
  app/views/index/about.phtml
  p/themes/Alternative-Dark/adark.css
  p/themes/Alternative-Dark/adark.rtl.css
  p/themes/Nord/nord.css
  p/themes/Nord/nord.rtl.css
  p/themes/Origine/origine.css
  p/themes/Origine/origine.rtl.css
  p/themes/base-theme/frss.css
  p/themes/base-theme/frss.rtl.css
Labels: Security :shield:

#7211 CssXPath 1.3.0
  lib/composer.json
Labels: php, XPath

#7215 Remove local reference to fonts/OpenSans
  p/themes/base-theme/frss.css
  p/themes/base-theme/frss.rtl.css
Labels: Theme 🖌

#7219 Docker Compose Traefik 3
  Docker/freshrss/docker-compose-proxy.yml
Labels: Documentation :books:, Docker 🐋

#5220 smaller "mark as read" button in mobile view
  p/themes/Origine/origine.css
  p/themes/Origine/origine.rtl.css
  p/themes/base-theme/frss.css
  p/themes/base-theme/frss.rtl.css
Labels: UI :art:

#7234 Hide base theme
  .editorconfig
  app/Controllers/extensionController.php
  app/Models/Themes.php
  p/themes/base-theme/README.md
  p/themes/base-theme/metadata.json
Labels: Theme 🖌, Bug (confirmed) 🐞

#7247 fixed: global view unread articles counter
  p/themes/base-theme/frss.css
  p/themes/base-theme/frss.rtl.css
Labels: UI :art:, View

#7243 Improve stats page layout
  app/i18n/cs/admin.php
  app/i18n/de/admin.php
  app/i18n/el/admin.php
  app/i18n/en-us/admin.php
  app/i18n/en/admin.php
  app/i18n/es/admin.php
  app/i18n/fa/admin.php
  app/i18n/fi/admin.php
  app/i18n/fr/admin.php
  app/i18n/he/admin.php
  app/i18n/hu/admin.php
  app/i18n/id/admin.php
  app/i18n/it/admin.php
  app/i18n/ja/admin.php
  app/i18n/ko/admin.php
  app/i18n/lv/admin.php
  app/i18n/nl/admin.php
  app/i18n/oc/admin.php
  app/i18n/pl/admin.php
  app/i18n/pt-br/admin.php
  app/i18n/ru/admin.php
  app/i18n/sk/admin.php
  app/i18n/tr/admin.php
  app/i18n/zh-cn/admin.php
  app/i18n/zh-tw/admin.php
  app/layout/aside_subscription.phtml
  app/views/stats/index.phtml
  app/views/stats/repartition.phtml
  p/themes/base-theme/frss.css
  p/themes/base-theme/frss.rtl.css
Labels: UI :art:

#7238 Changed deprecated default_user to default-user in README
  Docker/README.md
Labels: Documentation :books:, Docker 🐋

#7249 Ligth update Docker Compose
  Docker/freshrss/docker-compose-db.yml
  Docker/freshrss/docker-compose-development.yml
  Docker/freshrss/docker-compose-local.yml
  Docker/freshrss/docker-compose-proxy.yml
  Docker/freshrss/docker-compose.yml
Labels: Documentation :books:, Docker 🐋

#7228 Add search operator intext:
  app/Models/Entry.php
  app/Models/EntryDAO.php
  app/Models/Search.php
  docs/en/users/10_filter.md
  docs/fr/users/03_Main_view.md
  tests/app/Models/SearchTest.php
Labels: Search :mag:

#7259 Doc force-https
  force-https.default.txt
  lib/lib_rss.php
Labels: Security :shield:

#7264 Better authorization label for OIDC
  app/i18n/cs/admin.php
  app/i18n/cs/install.php
  app/i18n/de/admin.php
  app/i18n/de/install.php
  app/i18n/el/admin.php
  app/i18n/el/install.php
  app/i18n/en-us/admin.php
  app/i18n/en-us/install.php
  app/i18n/en/admin.php
  app/i18n/en/install.php
  app/i18n/es/admin.php
  app/i18n/es/install.php
  app/i18n/fa/admin.php
  app/i18n/fa/install.php
  app/i18n/fi/admin.php
  app/i18n/fi/install.php
  app/i18n/fr/admin.php
  app/i18n/fr/install.php
  app/i18n/he/admin.php
  app/i18n/he/install.php
  app/i18n/hu/admin.php
  app/i18n/hu/install.php
  app/i18n/id/admin.php
  app/i18n/id/install.php
  app/i18n/it/admin.php
  app/i18n/it/install.php
  app/i18n/ja/admin.php
  app/i18n/ja/install.php
  app/i18n/ko/admin.php
  app/i18n/ko/install.php
  app/i18n/lv/admin.php
  app/i18n/lv/install.php
  app/i18n/nl/admin.php
  app/i18n/nl/install.php
  app/i18n/oc/admin.php
  app/i18n/oc/install.php
  app/i18n/pl/admin.php
  app/i18n/pl/install.php
  app/i18n/pt-br/admin.php
  app/i18n/pt-br/install.php
  app/i18n/ru/admin.php
  app/i18n/ru/install.php
  app/i18n/sk/admin.php
  app/i18n/sk/install.php
  app/i18n/tr/admin.php
  app/i18n/tr/install.php
  app/i18n/zh-cn/admin.php
  app/i18n/zh-cn/install.php
  app/i18n/zh-tw/admin.php
  app/i18n/zh-tw/install.php
  app/install.php
  docs/en/admins/16_OpenID-Connect.md
Labels: Documentation :books:, I18n :earth_africa:, Security :shield:

#7269 Fix unwanted feed description updates
  app/Models/FeedDAO.php
Labels: Bug (confirmed) 🐞

#7268 Improve notification banner
  app/i18n/cs/gen.php
  app/i18n/de/gen.php
  app/i18n/el/gen.php
  app/i18n/en-us/gen.php
  app/i18n/en/gen.php
  app/i18n/es/gen.php
  app/i18n/fa/gen.php
  app/i18n/fi/gen.php
  app/i18n/fr/gen.php
  app/i18n/he/gen.php
  app/i18n/hu/gen.php
  app/i18n/id/gen.php
  app/i18n/it/gen.php
  app/i18n/ja/gen.php
  app/i18n/ko/gen.php
  app/i18n/lv/gen.php
  app/i18n/nl/gen.php
  app/i18n/oc/gen.php
  app/i18n/pl/gen.php
  app/i18n/pt-br/gen.php
  app/i18n/ru/gen.php
  app/i18n/sk/gen.php
  app/i18n/tr/gen.php
  app/i18n/zh-cn/gen.php
  app/i18n/zh-tw/gen.php
  app/layout/layout.phtml
  p/scripts/main.js
  p/themes/Alternative-Dark/adark.css
  p/themes/Alternative-Dark/adark.rtl.css
  p/themes/Ansum/_layout.scss
  p/themes/Ansum/ansum.css
  p/themes/Ansum/ansum.rtl.css
  p/themes/Dark-pink/pinkdark.css
  p/themes/Dark-pink/pinkdark.rtl.css
  p/themes/Dark/dark.css
  p/themes/Dark/dark.rtl.css
  p/themes/Flat/flat.css
  p/themes/Flat/flat.rtl.css
  p/themes/Mapco/_layout.scss
  p/themes/Mapco/mapco.css
  p/themes/Mapco/mapco.rtl.css
  p/themes/Nord/nord.css
  p/themes/Nord/nord.rtl.css
  p/themes/Origine/origine.css
  p/themes/Origine/origine.rtl.css
  p/themes/Pafat/pafat.css
  p/themes/Pafat/pafat.rtl.css
  p/themes/Swage/swage.css
  p/themes/Swage/swage.rtl.css
  p/themes/base-theme/base.css
  p/themes/base-theme/base.rtl.css
  p/themes/base-theme/frss.css
  p/themes/base-theme/frss.rtl.css
Labels: UI :art:

#7270 Pass PHPStan checkBenevolentUnionTypes
  app/Models/Feed.php
  cli/CliOptionsParser.php
  phpstan-next.neon
  phpstan.dist.neon
Labels: php
