Repository FreshRSS/FreshRSS, pull requests merged in 2025-02, with the labels that each got.

#7278 i18n: de: Lieblingsartikel -> Favoritenartikel
  app/i18n/de/conf.php
  app/i18n/de/sub.php
Labels: I18n :earth_africa:

#7291 Add documentation for adding Pocket ID as OIDC provider
  docs/en/admins/16_OpenID-Connect.md
  docs/en/admins/18_Pocket-ID.md
  docs/en/img/admins/pocket-id-1.png
  docs/en/img/admins/pocket-id-2.png
Labels: Documentation :books:, Security :shield:

#7274 Shortcuts for adding labels
  app/Models/Context.php
  app/i18n/cs/index.php
  app/i18n/de/index.php
  app/i18n/el/index.php
  app/i18n/en-us/index.php
  app/i18n/en/index.php
  app/i18n/es/index.php
  app/i18n/fa/index.php
  app/i18n/fi/index.php
  app/i18n/fr/index.php
  app/i18n/he/index.php
  app/i18n/hu/index.php
  app/i18n/id/index.php
  app/i18n/it/index.php
  app/i18n/ja/index.php
  app/i18n/ko/index.php
  app/i18n/lv/index.php
  app/i18n/nl/index.php
  app/i18n/oc/index.php
  app/i18n/pl/index.php
  app/i18n/pt-br/index.php
  app/i18n/ru/index.php
  app/i18n/sk/index.php
  app/i18n/tr/index.php
  app/i18n/zh-cn/index.php
  app/i18n/zh-tw/index.php
  app/layout/aside_feed.phtml
  app/views/configure/display.phtml
  app/views/configure/shortcut.phtml
  app/views/helpers/configure/query.phtml
  app/views/helpers/index/normal/entry_bottom.phtml
  app/views/helpers/index/normal/entry_header.phtml
  app/views/helpers/javascript_vars.phtml
  app/views/index/global.phtml
  app/views/index/normal.phtml
  config-user.default.php
  p/scripts/main.js
Labels: Shortcuts ⌨, UX

#7305 API documentation link to more tips
  docs/en/developers/06_GoogleReader_API.md
Labels: Documentation :books:, API :handshake:

#7332 i18n: Japanese
  app/i18n/ja/admin.php
  app/i18n/ja/gen.php
  app/i18n/ja/index.php
  app/i18n/ja/sub.php
Labels: I18n :earth_africa:

#7309 Docker Compose remove deprecated version
  Docker/README.md
  docs/en/admins/16_OpenID-Connect-Authentik.md
Labels: Documentation :books:, Docker 🐋

#7345 Fix regression XPath XML encoding
  app/Models/Feed.php
Labels: Bug (confirmed) 🐞, XPath

#7346 Replace opml generateing nline tool with working link
  docs/en/users/04_Subscriptions.md
  docs/fr/users/04_Subscriptions.md
Labels: Documentation :books:

#7347 Update dev tools
  .github/workflows/tests.yml
  Makefile
  composer.json
  composer.lock
  lib/Minz/Dispatcher.php
  package-lock.json
  package.json
Labels: System care

#7354 Fix: Properly set the priority field when saving a new feed
  app/Models/FeedDAO.php
Labels: Extension :electric_plug:, Bug (confirmed) 🐞

#7339 PHPStan more checkImplicitMixed
  app/Models/Entry.php
  app/Models/FeedDAO.php
  app/Models/Themes.php
  app/views/helpers/feed/update.phtml
  phpstan-next.neon
Labels: php

#7362 Update Reader Link Documentation
  CREDITS.md
  README.fr.md
  README.md
  docs/en/developers/06_Fever_API.md
  docs/en/developers/06_GoogleReader_API.md
  docs/fr/users/06_Fever_API.md
  docs/fr/users/06_Mobile_access.md
  docs/i18n/freshrss.fr.po
  docs/i18n/templates/freshrss.pot
Labels: Documentation :books:, API :handshake:
